[2019-06-27 22:16] illo1620 opened #957 "Discrepancy in PDF instructions for Eng1"
Here's the details on the typo that Kayla found in the lab instructions for Engineer I...

There are two ways to get the lab instructions:
From a trainee's Strigo enviornment (ex: my page was http://ec2-54-93-233-34.eu-central-1.compute.amazonaws.com/instructions/labs.html)
Or from the 'Elasticsearch Engineer I Lab Kit' ZIP download from the trainee's training.elastic.co class page.

For Lab 12, S

[2019-06-28 20:46] nrichers commented on #681
Replaced by https://github.com/elastic/qualtrics-surveys/issues/26, closing.

[2019-06-28 20:46] #681 closed

[2019-07-08 19:19] #903 closed

[2019-07-09 14:09] nik9000 opened #973 "Removing a branch from a book doesn't clear its metadata"
We use branch metadata to figure out if a book needs to be rebuilt. When you remove a branch from a book we don't clear the metadata. This leads to weird things like not automatically rebuilding books when the branch is re-added.

[2019-07-09 14:55] nik9000 opened #974 "Move legacy js reference"
Right now we generate the reference material for the legacy branches of the javascript client as "version 16.x" which is sort of weird because the modern version is 7.x. We'd like to do two things:

1. Move the legacy branch's url from `16.x` to `legacy`.
2. Create a redirect from `16.x` to `legacy`.

This is difficult right now because we don't own the redirects. But we're working on that! We sho

[2019-07-09 19:37] lcawl commented on #937
The formatting of the parameters in the API is still a little problematic. In particular, the "Required/Optional" is unnecessarily eye-catching in my opinion. For example:
![image](https://user-images.githubusercontent.com/26471269/60917410-c1d64900-a245-11e9-8095-31b1a058272c.png)
I did a quick test of some of the other options we discussed. For example:
![image](https://user-images.githubusercon

[2019-07-09 21:20] dedemorton commented on #896
I'm using an .svg file [here](https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-overview.html), and it renders OK on Chrome and Firefox (AFAIK): https://www.elastic.co/guide/en/beats/functionbeat/current/images/diagram-functionbeat-architecture.svg

Should I avoid using svg?

[2019-07-09 21:24] nik9000 commented on #896
If it renders then it should be fine. Could you link to the asciidoc file where you include?

[2019-07-09 21:32] bmorelli25 commented on #896
That looks to be functionbeat, which isn't yet using asciidoctor.

[2019-07-10 12:41] jrodewig commented on #937
Here's my order of preference:

1.  `allow_no_match`
2. `size`
3. `from`

I believe the `from` example introduces visual clutter with the bulleted list. It will also have more overhead for Asciidoc maintenance.

The `size` example is okay, but I find the construction a little awkward. It's also not very clear to non-writers that they should always include "Optional" or "Required" as the first word

[2019-07-10 13:21] #973 closed

[2019-07-10 15:41] lcawl commented on #937
I agree. I'll draft that change in the template unless @kotungseth disagrees.

[2019-07-11 01:32] lcawl commented on #937
After a brief chat with @KOTungseth another option occurred to me:
![image](https://user-images.githubusercontent.com/26471269/61015539-e8c57580-a340-11e9-96a2-98ff496dab16.png)

[2019-07-11 16:46] jrodewig opened #981 "7.2.1 documentation release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the 7.2.1 release. Please link to PRs as they are created.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: elastic/docs#983

**PRs for product repo version bumps & RNs**
- [x] ES doc version bump & release-state: https://github.com/elastic/elasticsearch/pu

[2019-07-15 21:21] jrodewig opened #987 "Table columns don't wrap correctly"
#977 changed the styling for Elastic docs. Column wrapping for tables is now off.

Credit to @lcawl for spotting the issue.

### Before example
<img width="766" alt="column-wrap-before" src="https://user-images.githubusercontent.com/40268737/61250084-d1adcb80-a724-11e9-891f-67af794dc6be.png">

### After example
<img width="779" alt="column-wrap-after" src="https://user-images.githubusercontent.com

[2019-07-15 21:27] lcawl opened #988 "NOTE blocks are capitalized"
Since the stylesheet changes took effect (I think in https://github.com/elastic/docs/pull/977), admonition blocks are converted to all caps. For example, see https://www.elastic.co/guide/en/elasticsearch/reference/master/ml-close-job.html

![image](https://user-images.githubusercontent.com/26471269/61250477-a8814100-a70c-11e9-8cef-62087a2b535a.png)

I don't think this looks great

[2019-07-15 22:26] bmorelli25 opened #989 "xpack badge floats over dropdowns"
If a page title has the xpack badge, it floats over the top of the menu drop-down:

<img width="777" alt="Screen Shot 2019-07-15 at 3 24 21 PM" src="https://user-images.githubusercontent.com/5618806/61253124-cce11b80-a714-11e9-9b74-ddb5a9d2c78d.png">

[2019-07-15 22:44] lcawl opened #990 "Links not highlighted in documentation"
Since the stylesheet changes took effect ( #977), you can no longer tell that text is a link until you hover over it.

For example:
![image](https://user-images.githubusercontent.com/26471269/61253818-382bed00-a717-11e9-8582-3faa6039a9d8.png)

Only after you hover the text does it become highlighted:
![image](https://user-images.githubusercontent.com/26471269/61253862-5db8f680-a717-11e9-9f40-3ecae

[2019-07-16 13:53] karenzone opened #991 "Doc rendering issues after website redesign"
Style changes to the (awesome!) new website redesign caused some unintended consequences to our documentation.

- [x] #987 - Table columns don't wrap correctly
- [x] #988 - NOTE blocks are capitalized
- [x] #989 - xpack badge floats over dropdowns
- [x] #990 - links not highlighted on documentation
- [x] #992 - Code blocks should be monospaced
- [x] #993 - No header link back to `/guide` makes nav

[2019-07-16 14:01] karenzone commented on #991
@nik9000 @brianjolly

[2019-07-16 15:12] karenzone opened #992 "Code blocks should be monospaced"
Code samples are appearing in regular type, but should be monospaced.

<img width="978" alt="Screen Shot 2019-07-16 at 9 18 42 AM" src="https://user-images.githubusercontent.com/35154725/61306363-77f7e080-a7ba-11e9-87a1-400eb4c9ba54.png">

[2019-07-16 15:16] karenzone opened #993 "Link back to Documentation is missing"
Missing link back to documentation home page which makes it easier to navigate between books
![image (1)](https://user-images.githubusercontent.com/35154725/61306802-31ef4c80-a7bb-11e9-932c-22048fc3b2f0.png)

[2019-07-16 16:53] lcawl commented on #993
FYI Here's a screenshot of what it used to look like:

![image](https://user-images.githubusercontent.com/26471269/61313540-7d036280-a7af-11e9-9dd6-577eac142bef.png)

The placement doesn't really matter to me too much, as long as there's a quick one-click way to get to the rest of the library.

[2019-07-16 20:05] KOTungseth opened #995 "Embedded videos"
With all of the new videos that Kibana is making, we should add the ability to embed the videos right in our docs.

[2019-07-16 21:03] lcawl commented on #988
Some of them are both capitalized and turned red:

![image](https://user-images.githubusercontent.com/26471269/61329557-763a1700-a7d2-11e9-8b70-81236e7c6e7a.png)

That example is in https://www.elastic.co/guide/en/elasticsearch/reference/master/backup-cluster-configuration.html

[2019-07-16 21:34] brianjolly commented on #988
This is looking fixed now on production. Thank You @cnbishop!

@lcawl could you please verify on your end too? Thanks!

[2019-07-16 21:38] brianjolly commented on #987
This looks fixed on production. Thank You @cnbishop!

@jrodewig could you please verify you also see it fixed? Thanks!

[2019-07-16 21:39] jrodewig commented on #987
Confirmed. This looks fixed. Closing the issue.

[2019-07-16 21:39] brianjolly commented on #990
Links are highlighted again on production. Thanks @cnbishop!

@lcawl can you please also verify the fix? Thanks!

[2019-07-16 21:42] brianjolly commented on #989
This should be fixed now on production. Thanks @cnbishop!

@bmorelli25 , can you please verify it looks good on your end now? Thanks!

[2019-07-16 22:00] bmorelli25 commented on #989
Thank you, looks good on my end!

[2019-07-16 22:00] #989 closed

[2019-07-16 22:12] lcawl commented on #988
LGTM, thanks!

[2019-07-16 22:13] lcawl commented on #990
LGTM, thanks!

[2019-07-17 06:34] sylvie777 commented on #992
@karenzone This has been updated. Are you still experiencing the issue? Here's a sample page:

https://www.elastic.co/guide/en/logstash/7.2/plugins-inputs-azure_event_hubs.html

![Screen Shot 2019-07-16 at 11 34 15 PM](https://user-images.githubusercontent.com/782265/61352455-3ef35680-a822-11e9-9742-092cc430c155.png)

cc @brianjolly

[2019-07-17 13:21] karenzone commented on #992
@sylvie777 I spot-checked several examples, and this issue appears to be resolved.  Thank you!

[2019-07-17 13:21] #992 closed

[2019-07-17 13:41] karenzone commented on #987
Hi team. Found a new example of table wrapping issues in https://www.elastic.co/guide/en/logstash/current/plugins-outputs-cloudwatch.html

<img width="1577" alt="Screen Shot 2019-07-17 at 9 15 42 AM" src="https://user-images.githubusercontent.com/35154725/61380225-f9ad4400-a876-11e9-80c9-9981d81deb73.png">

[2019-07-17 15:08] bmorelli25 opened #997 "Hamburger menu doesn't expand on mobile"
When viewing the docs on mobile the hamburger menu does not expand.

[2019-07-17 15:11] bmorelli25 opened #998 "Email form in footer doesn't render correctly on mobile"
The email form in the footer doesn't render correctly on mobile.

[2019-07-17 15:14] bmorelli25 opened #999 "Branch selector drop-down is huge"
The branch selector drop-down is now huge. Can we change the height to maybe not take up so much screen space?

<img width="747" alt="Screen Shot 2019-07-17 at 8 13 01 AM" src="https://user-images.githubusercontent.com/5618806/61387338-cf558980-a86a-11e9-9092-50ee3947ad7b.png">

[2019-07-17 18:23] brianjolly commented on #993
Hi @nik9000 , I added the following to `resources/web/template.html`  https://github.com/elastic/docs/pull/1000. Would you mind kicking off a stage build to test it? Thanks!!

[2019-07-17 18:25] nik9000 commented on #993
I checked it locally by just building a single doc and it looked good. I can do a staging build too though.

[2019-07-18 16:06] #990 closed

[2019-07-18 16:06] #988 closed

[2019-07-18 17:04] nik9000 commented on #670
I believe we've *mostly* fixed this by always forking the built docs from master and by merging the target branch into the PR before building the docs.

Merging the target branch into the PR branch has caused another interesting failure mode: if there are changes to two repos that require one another and both are merged at the same time then PR tests touching either repo will fail until the docs b

[2019-07-18 20:33] jrodewig opened #1002 "6.8.2 documentation release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the 6.8.2 release. Please link to PRs as they are created.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: elastic/docs#1003

**PRs for product repo version bumps & RNs**
- [x] ES doc version bump & release-state: elastic/elasticsearch#44597
- [x] ES RNs:

[2019-07-19 14:13] nik9000 commented on #641
That link doesn't seem to have the edit on the tooltip anymore. How odd!

[2019-07-19 14:36] dmeiss commented on #641
Cool -- self-fixing issues! Maybe something changed after website redesign went live?

[2019-07-19 15:00] nik9000 commented on #641
I greped around and didn't see it. But I'm pretty sure I did something wrong.....

[2019-07-19 20:06] dedemorton opened #1006 "Line spacing in TOC makes it hard to tell when a title has wrapped"
Typically I avoid using long titles, but in this case I want to pop some troubleshooting topics up a level so they appear in the navigation.

To make the titles easier to read, there should be less space between lines when a title is wrapped. Right now, it looks like this:

![image](https://user-images.githubusercontent.com/14206422/61561283-58afbc00-aa23-11e9-9511-1ae1360b15a2.png)

It should loo

[2019-07-22 07:49] psanz-estc commented on #987
HI there

This one is not ok either:

https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update-by-query.html

<img width="999" alt="Captura de pantalla 2019-07-22 a las 9 49 14" src="https://user-images.githubusercontent.com/44199691/61615315-001c3100-ac66-11e9-9010-8e812bb80195.png">

[2019-07-23 19:24] #993 closed

[2019-07-24 13:06] nik9000 commented on #987
@psanz-estc, that table looks ok to me in Firefox/desktop. Is it ok for you now? If not how are you looking at it?

@karenzone, that table looks ok to me too now. How is it for you?

[2019-07-24 13:27] karenzone commented on #987
@nik9000   Yes. That table and another that was misbehaving are wrapping correctly now. Thank you!

[2019-07-24 13:40] psanz-estc commented on #987
Hey @nik9000 , now it looks ok!! When I checked a couple of days ago (with Chrome and Firefox on my MBP)  the wrapping looked incorrect...

[2019-07-24 13:43] jrodewig commented on #987
Closing this issue. Feel free to re-open if this pops up again.

[2019-07-25 17:36] crisdarocha commented on #987
Sorry to bother, but still a frequent issue. Chrome on MacBookPro

One example is this one.

https://www.elastic.co/guide/en/watcher/current/configuring-default-internal-ops-timeouts.html

Thanks in advance!

[2019-07-25 17:37] crisdarocha commented on #987
<img width="763" alt="Screenshot 2019-07-25 at 19 24 03" src="https://user-images.githubusercontent.com/36699845/61895704-932dc300-af13-11e9-95b6-928392afd7ea.png">

[2019-07-25 17:44] brianjolly commented on #987
Hi @crisdarocha, could you double check if your browser has cached css?

If you see the issue on other pages please let us know. Thanks for the help!

Here is the page with a fresh Chrome:

<img width="1393" alt="Screen Shot 2019-07-25 at 10 39 36 AM" src="https://user-images.githubusercontent.com/140304/61896037-ec243980-aec8-11e9-97d1-873625795c4d.png">

[2019-07-25 18:21] crisdarocha commented on #987
Sorry @brianjolly, copied the wrong link in my post! Too many tabs opened!

https://www.elastic.co/guide/en/watcher/current/actions.html

Cleared the cache, but still the same.

[2019-07-25 18:27] brianjolly commented on #987
I see, thanks @crisdarocha!

[2019-07-25 20:06] lcawl commented on #987
Also table 25 here: https://www.elastic.co/guide/en/elastic-stack-overview/master/actions-email.html

[2019-07-30 15:14] jrodewig commented on #1002
Doc build: https://elasticsearch-ci.elastic.co/job/elastic+docs+master+build/2653

[2019-07-30 15:14] jrodewig commented on #981
Doc build: https://elasticsearch-ci.elastic.co/job/elastic+docs+master+build/2653

[2019-07-30 15:29] debadair opened #1022 "7.3.0 documentation release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the [7.3.0 release](https://github.com/elastic/dev/issues/1227). Please link to PRs as they are created.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: https://github.com/elastic/docs/pull/1023

**PRs for product repo version bumps & RNs**
- [x] ES doc ve

[2019-07-30 17:44] #1002 closed

[2019-07-30 17:44] #981 closed

[2019-07-30 21:28] dedemorton commented on #476
Closing because we've been told explicitly that we do not want to do this.

[2019-07-30 21:28] #476 closed

[2019-08-01 15:38] jtibshirani commented on #937
This seems like a great effort, the test APIs I've seen in elasticsearch look a lot cleaner!

One aspect I really like about the current elasticsearch APIs is that they often start with a simple example, which includes the endpoint as well as the request body. When developing against the API, I've found myself referring back to pages multiple times to copy-paste the top example or get a refresher

[2019-08-01 17:34] lcawl commented on #937
It seems quite common to have the examples at the end of the API reference pages, so I don't think that will be unexpected. However, I agree that some APIs might end up quite long. I think in in those cases the "On this page" links are particularly helpful for users that know exactly what they're looking for.  E.g.:

![image](https://user-images.githubusercontent.com/26471269/62314332-9bbc5700-b44

[2019-08-01 18:04] lcawl opened #1029 "Move to root-relative URLs for links between books"
Most of the Elastic documentation now uses attributes to fill in the URL for links between books. For example, in https://github.com/elastic/stack-docs/blob/7.3/docs/en/install-upgrade/installing-stack.asciidoc:

These attributes ( {ref}, {kibana-ref}, etc) are defined in https://github.com/elastic/docs/blob/master/shared/attributes.asciidoc

We should consider changing the values in those attribu

[2019-08-01 19:33] #1006 closed

[2019-08-03 10:30] aravindputrevu commented on #336
Folks - I came to docs repo to raise the issue of documentation feedback on each page. Happy to know that, we already thought about it.

But saw it also got closed because, cloud addressed it using a different mechanism. But it still could be a great feature to implement. Are we still thinking about it?

[2019-08-05 16:03] jrodewig opened #1035 "More whitespace between 2+ line nav items"
@albertzaharovits pointed out that nav items with multiple lines tend to be a bit too close in the nav sidebar.

Here's an example from https://www.elastic.co/guide/en/elastic-stack-overview/7.3/oidc-guide-authentication.html

<img width="341" alt="Screen Shot 2019-08-05 at 12 00 47 PM" src="https://user-images.githubusercontent.com/40268737/62478428-13a4bd00-b779-11e9-8ec9-7504f66aa37b.png">

[2019-08-07 14:23] nik9000 commented on #1035
I did this one! They used to be so far apart you couldn't tell that they were the same line. They are a little crowded now.

[2019-08-07 14:29] nik9000 opened #1045 "Tracking mechanism for improvements"
Right now problems either cause the docs build to fail or are totally ignored. It'd be nice to have a class of problems that can be "let through" intentionally. Say, like, for broken links. If we had this for broken links we could click a button in the build that allows the build to succeed even if there are broken links. Then subsequent builds would pass so long as they have the same broken links

[2019-08-07 16:11] nik9000 commented on #1045
I think we'd need this if we were doing spell checking too.

[2019-08-07 18:47] dedemorton commented on #878
@eddieturizo This repo is for issues related to the tooling we use to generate the documentation. Can you please submit your request to the product repo instead:

https://github.com/elastic/elasticsearch/issues/new

I just happened to notice this while I was looking for something else....

[2019-08-07 18:48] dedemorton commented on #878
Please close this after you've created the issue in the elasticsearch repo.

[2019-08-07 18:52] dedemorton commented on #453
@karenzone I just noticed this request buried in the docs repo.

@larry-hernandez Unfortunately I think this issue got lost in this repo. This repo is for requests related to the tooling used to generate the docs. If this issue is still relevant, please open an issue in the correct product repo: https://github.com/elastic/logstash/issues/new

[2019-08-07 19:00] dedemorton commented on #358
Unfortunately this issue was created in the wrong repository. The docs repository is for code and issues related to the tooling we use to build the docs.

Fortunately it looks like this problem is already resolved in the [latest docs](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-kafka.html) so I am closing it now.

[2019-08-07 19:00] #358 closed

[2019-08-07 19:02] dedemorton commented on #350
Closing this because the conditions of use seem clear and the response given is accurate.

[2019-08-07 19:02] #350 closed

[2019-08-07 19:05] #134 closed

[2019-08-07 19:35] #1035 closed

[2019-08-07 19:56] #453 closed

[2019-08-08 14:53] nik9000 commented on #658
Google is just being a bit silly here. I don't think we can do much about this.

[2019-08-08 14:53] #658 closed

[2019-08-08 16:06] nik9000 commented on #757
Done but I never linked the PRs back to this. Ooops.

[2019-08-08 16:06] #757 closed

[2019-08-08 16:07] nik9000 commented on #671
I think #1045 is a restating of this. I didn't meant to file two issues, but I think it explains it a bit better.

[2019-08-08 16:07] #671 closed

[2019-08-08 17:38] nik9000 commented on #683
Closed by #994.

[2019-08-08 20:48] #739 closed

[2019-08-08 20:49] #950 closed

[2019-08-12 21:29] bmorelli25 opened #1058 "404 page doesn't have new style"
Docs 404s still have the old style: [Example](https://www.elastic.co/guide/en/apm/agent/js-base/msaster/index.html).

Regular site 404s are on the new style: [Example](https://www.elastic.co/elasticodn/).

[2019-08-13 20:29] mikeisonthenets opened #1066 "Special information sections (notes, tips, etc) are breaking element boundaries in dark background sections"
First discovered earlier today on: https://www.elastic.co/guide/en/cloud/current/ec-securing-clusters-SAML.html

![image](https://user-images.githubusercontent.com/4106008/62975017-46306480-bdce-11e9-828b-c7d681573347.png)

And also seen on: https://www.elastic.co/guide/en/cloud-enterprise/2.2/ece-add-custom-bundle-plugin.html

[2019-08-13 20:34] nik9000 commented on #1066
Thanks for filing this! I wonder what #1065 will do for it....

[2019-08-13 20:38] nik9000 commented on #1066
Yeah, that pretty much fixes it:

![2019-08-13-163753_1481x932_scrot](https://user-images.githubusercontent.com/215970/62975593-bc41c500-bde8-11e9-8ca5-849e83402a9b.png)

[2019-08-13 20:45] nik9000 commented on #1066
I've merged #1065 which should make this better. The docs build is currently doing a full rebuild and will be for another 20 minutes or so. The next build should pick up right after that and take another five minutes. That should pick up my fix. So, give it about half an hour.

[2019-08-13 21:23] nik9000 opened #1067 "Drop guide.css"
The docs use styles from https://www.elastic.co/static/css/guide.css which is sort of against our desire to keep the style for the docs in the docs where possible.

[2019-08-13 21:25] nik9000 commented on #1066
This should be fixed now. The ttl on the styles is a day so you might have to force reload.

[2019-08-13 22:04] #1066 closed

[2019-08-14 16:29] nik9000 commented on #670
* [x] elastic/apm-server.git
* [x] elastic/apm-agent-nodejs.git
* [x] elastic/apm-agent-python.git
* [x] elastic/apm-agent-ruby.git
* [x] elastic/apm-agent-rum-js.git
* [x] elastic/apm-agent-go.git
* [x] elastic/apm-agent-java.git
* [x] elastic/apm-agent-dotnet.git
* [ ] elastic/azure-marketplace.git
* [ ] elastic/beats.git
* [ ] elastic/cloud.git
* [ ] elastic/curator.git
* [ ] elastic/ecs.git
*

[2019-08-14 16:29] nik9000 commented on #670
* [x] elastic/apm-server.git
* [x] elastic/apm-agent-nodejs.git
* [x] elastic/apm-agent-python.git
* [x] elastic/apm-agent-ruby.git
* [x] elastic/apm-agent-rum-js.git
* [x] elastic/apm-agent-go.git
* [x] elastic/apm-agent-java.git
* [x] elastic/apm-agent-dotnet.git
* [ ] elastic/azure-marketplace.git
* [ ] elastic/beats.git
* [ ] elastic/cloud.git
* [ ] elastic/curator.git
* [ ] elastic/ecs.git
*

[2019-08-15 15:29] haywoood commented on #631
In lieu of recent conversations, and the new-found knowledge that curl will prompt for the password, should we close this? or redirect it?

[2019-08-15 20:18] bmorelli25 opened #1073 "7.3.1 Documentation release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the 7.3.1 release. Please link to PRs as they are created.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: https://github.com/elastic/docs/pull/1084

**PRs for product repo version bumps & RNs**
- [x] ES doc version bump & release-state: elastic/elasticsea

[2019-08-15 21:09] jrodewig opened #1075 "7.4.0 docs release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the [7.4.0 release](https://github.com/elastic/dev/issues/1248). Please link to PRs as they are created.

**PRs for docs repo updates**
- [ ] Updates shared versions & release-state attributes:

**PRs for product repo version bumps & RNs**
- [ ] ES doc version bump & release-state:
- [ ] ES RNs:

[2019-08-15 21:09] jrodewig commented on #1075
Relates to elastic/dev#1248

[2019-08-17 18:00] nik9000 opened #1080 "Drop main.css?"
Right now the docs use `main.css` from the Elastic web folks. We really do need to share style for the header and footer, but that file includes all kinds of stuff like "normalize.css v3.0.3". Maybe these are things the docs want, but I think we need to be careful about pulling those things in. So maybe the docs shouldn't use that file. I'm not sure.

[2019-08-17 18:00] nik9000 commented on #1080
@brianjolly, what do you think about this?

[2019-08-22 14:19] nik9000 opened #1089 "Preview tool could have per-page diffs"
Right now we have a "diff" page that links to each changed page and shows the diff line count from git. We *already* [have](https://github.com/elastic/docs/blob/master/integtest/html_diff) a special purpose html diffing tool. We could totally integrate that to spit out diffs of the generated html. That'd be useful sometimes!

[2019-08-22 14:24] nik9000 commented on #483
The previews are now live for any repos that have the universal docs build PRs. Annotation sounds fun though!

[2019-08-22 16:21] #1073 closed

[2019-08-22 21:22] #1067 closed

[2019-08-23 07:31] szabosteve opened #1096 "Create naming pattern for getting started content"
The aim of this ticket is to establish a naming pattern for GS & tutorial content that takes SEO into account.

Resources:
* [Getting started vs Quick start content](https://docs.google.com/document/d/1Y9XhYV1qYuKHSw-zgIZxSkjPKqUoYdw30HkLEdfcsLY/edit#heading=h.r1khm0bcatz9)
* [Getting started follow-up meeting notes](https://docs.google.com/document/d/1Oh1YNjfiHzyrluFKB8KVzyhlfIkGwL-q6CSZ6JwkDSs/e

[2019-08-23 08:07] alaudazzi commented on #1096
Links to SEO related issues in other GH repos:

- [#29108](https://github.com/elastic/cloud/issues/29108)
- #54

[2019-08-23 11:53] szabosteve commented on #1096
# Getting started

## Working definition

Getting started content is targeted more towards people who want to set things up and understand how things work. For novice users who want to learn.
How to install, configure, and run a basic workflow.

## Page title (H1) and file ID (URL pattern)

Based on the DEVO GS workgroup discussions, GS content title should refer to the topic that it is written fo

[2019-08-24 11:25] alaudazzi commented on #1096
@szabosteve Awesome recap!

We may want to simplify the Tutorial definition with something like that:

Also, I find this structure easier to read:

Food for thoughts: Should we also add a note about prerequisites? Less for a GS, more for a tutorial. Or maybe this is more related to the doc internal structure.

[2019-08-26 22:32] bmorelli25 opened #1104 "Delete old APM JS Agent documentation"
Redirects have been created for the old APM JavaScript Agent documentation: https://www.elastic.co/guide/en/apm/agent/js-base/4.x/index.html

The old documentation that lives at `/guide/en/apm/agent/js-base/` can now be deleted.

[2019-08-27 09:20] szabosteve commented on #1096
# Conceptual overview

[[ml-<feaure>]]
= <Feature_name>

////
The conceptual overview summarizes the main idea and machinery behind the feature. The aim of this high-level summary is to inform the user about the main functions, to familiarize the domain language, basic terms, and to provide some context about the possible fields of usage (short examples, use cases).

The overview section may conta

[2019-08-27 12:20] szabosteve commented on #1096
@alaudazzi @debadair @Titch990

Thank you for your feedback! I change the definition of tutorials along with the lines of Arianna's suggestion and mentioned prerequisites as one of the factors that can make the distinction between the two content types.

I agree, so I amended the proposal above accordingly. It is hard to change the product-specific perspective that a technical writer may inherentl

[2019-08-27 18:27] #1104 closed

[2019-08-28 15:10] Titch990 commented on #1096
Brilliant Steve!

I agree with @alaudazzi  about the tutorial titles, and I see you have already modified that.

I have a pet peeve, and I wonder whether it's worth mentioning here in our guidelines for Getting Started topics?

One of the things that helps send readers down rabbit holes is _indiscriminate linking_. I think it's particularly important to avoid unnecessary links in getting started t

[2019-08-28 16:19] nik9000 opened #1111 "Fix building docs on windows"
Right now we wrap the docs build script in a python script which manages a docker container. The container is difficult to manage because of all of the mounted paths and to handle things like ssh-forwarding. It almost certainly doesn't work on windows right now. We should make it work for all the folks that use windows to contribute.

[2019-08-29 03:07] bmorelli25 opened #1113 "Language switcher is confusing when language doesn't exist"
It's not clear that a language isn't available for a code block. I'm only seeing this in the `master` branch of the Elasticsearch reference.

Example: https://www.elastic.co/guide/en/elasticsearch/reference/7.x/dynamic-mapping.html

I'd expect to be able to hover over the "!" for more information, but I'm unable to. Switching languages also has no impact on what's displayed.

<img width="575" alt=

[2019-08-29 11:32] philkra opened #1114 "Allow Customisation of Elasticsearch Clients Landing page"
It would be great if we could reorganise/customise the landing page of the elasticsearch clients ([ref](https://www.elastic.co/guide/en/elasticsearch/client/index.html)).

The proposed format can be found in the linked issue, please consult @estolfo 's first comment or mine linking this issue.

[2019-08-29 13:17] nik9000 commented on #1113
Right. We've intentionally kept this feature only on the master branch because we expect things like this.

This is just sitting on my backlog of stuff to do, though I'm being pulled in a different direction and might try to bring in @JoshMock because he'd be able to do it faster than I ever could. But he also has a backlog of stuff.

[2019-08-29 13:35] bmorelli25 commented on #1113
Ahh, my bad. I didn't realize this was expected in `master`.

[2019-08-29 13:38] nik9000 commented on #1113
Not at all! It is nice to have it called out publicly.

[2019-08-29 16:47] Titch990 commented on #1096
@debadair @szabosteve @alaudazzi I have a question on which I'd like your opinion.

In my content, I have several topics currently called "Getting started with xxx" (or occasionally, "Installing xxx"). Because Observability is a product (several products, actually), built on ElasticSearch and Kibana, all these topics follow a similar format. In order to use the product, you have to install Elastic

[2019-08-29 18:41] JoshMock commented on #1113
@nik9000 I may have time this week to give that tooltip situation a look, actually! The main overhead to be aware of is that I haven't set up docs locally yet, so I'd need to get my bearings first.

[2019-08-29 20:19] lcawl opened #1120 "6.8.3 documentation release"
This ticket tracks PRs for the release notes, version bumps, and branch updates that are necessary for the 6.8.3 release. Please link to PRs as they are created.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: https://github.com/elastic/docs/pull/1146

**PRs for product repo version bumps & RNs**
- [x] ES doc version bump & release-state: https://github.com

[2019-08-29 21:43] lcawl commented on #804
Having just been affected by this again when the creation of the 7.4 branches here are some thoughts:

Our list of books continues to grow. We have a wiki page that lists where the doc version info is for most of those books, we still inevitably miss some, which can cause broken links and possible delays releasing the new content. To me, this is a reason to try to use a shared file for as many as

[2019-08-29 21:47] lcawl commented on #804
We have talked in the past about the fact that some of our configuration files (including these shared attribute files) are version-specific.  That is to say, if we had these shared files in a repo that had version branches, we would only need one copy of the file (e.g. "attributes.asciidoc" and "versions.asciidoc") and would not need to ensure each other repo is using the appropriate version file

[2019-08-29 21:59] bmorelli25 commented on #804
Is there a downside to this solution? Yes, we miss some of the products that are versioned differently, like cloud, APM Agents, ES Clients, etc., but this simplifies a large portion of the release/branch tasks. That sounds like a big win.

[2019-08-30 12:26] nik9000 commented on #804
If it is in a repo that has versioned branches we'd need to include that
repo when we build any docs with `--doc`. We *could* do that automatically
though. I feel like that "hides" the files more than just adding the
version to the name though.

On Thu, Aug 29, 2019 at 5:59 PM Brandon Morelli <notifications@github.com>
wrote:

[2019-08-30 13:30] #684 closed

[2019-08-30 16:04] karenzone commented on #804
Elastic Common Schema (ECS) is versioned independently of the stack, yet is applicable to several products in the stack.  We need the ability to lock ECS versions to stack versions.  For example, `7.0 - 7.3 -> ECS 1.0`, `7.4+ -> ECS 1.1`, etc.

I could easily handle this by setting attributes in Logstash, but that would only perpetuate the problem we're trying to solve.

We currently link to ECS f

[2019-08-30 16:21] nik9000 commented on #804
We have some ability to `map_branches` right now, but that is more to link
from a stack-versioned book to a non-stack-versioned book.

I think you could include the attributes file for some particular version
of the stack in the ECS docs. That'd make it simple to link outbound to
that version. You'd have to pick which version you want to use.

On Fri, Aug 30, 2019 at 12:05 PM Karen Metts <notifica

[2019-08-30 16:51] lcawl commented on #804
From my perspective, the ideal would be to have as many of the shared attributes as possible in a repo that has branches. The branches would align with the stack version branches (e.g. 6.8, 7.4, etc).  The attribute files (whether they contain URL paths, release statuses, product versions, feature names, ECS versions, whatever) would therefore not need to have version-specific names.  We could ref

[2019-09-03 16:35] gchaps opened #1130 "Allow horizontal rule in docs"
I'd like to create a landing page that uses horizontal rules between sections, similar to [this page](https://stripe.com/docs).  When I follow the instructions in the [asciidoctor quick ref for thematic breaks](https://asciidoctor.org/docs/asciidoc-syn), nothing happens.

It would be nice to get horizontal rules working.

[2019-09-04 02:24] russcam opened #1135 "Emit client docs examples reference as JSON/XML"
The reference file for `Console` examples that can be implemented as client examples is currently an asciidoc file. Whilst parsing the format of this file is not too tricky, it would likely be less error prone to use more structured format like JSON or XML, which would allow clients to consume it more easily.

[2019-09-04 17:53] gchaps commented on #945
@alexfrancoeur, @AlonaNadler Do you have any comments on this revised structure for the Release docs?

[2019-09-04 19:42] gchaps commented on #945
@mellieA Could you provide comments on this structure.

[2019-09-05 18:47] #1120 closed

[2019-09-05 21:21] bmorelli25 opened #1152 "Don't index PR previews"
PR Previews are starting to show up in search engine results. It probably makes sense not to index these. cc @nik9000
<img width="631" alt="Screen Shot 2019-09-05 at 2 05 42 PM" src="https://user-images.githubusercontent.com/5618806/64381610-6d9ed980-cfe8-11e9-816b-914605b89f6a.png">

[2019-09-05 21:30] nik9000 commented on #1152
I fixed this in #1013 but never deployed it....

[2019-09-05 21:30] nik9000 commented on #1152
I'm deploying the update now.

[2019-09-06 14:56] bmorelli25 commented on #1152
Thanks Nik!

[2019-09-06 16:13] nik9000 commented on #1152
This *should* be live now.

[2019-09-06 16:14] nik9000 commented on #1152
If you see more hits please put them here an reopen it.

[2019-09-06 16:14] #1152 closed

[2019-09-06 17:55] lcawl commented on #804
FYI @karenzone and @nik9000 and I met and ended up coming up with another option. Nik implemented https://github.com/elastic/docs/pull/1147 which causes the docs build to determine the appropriate branch and declare a "source_branch" attribute.  That attribute value can then be used to find the appropriate shared version attribute file (see https://github.com/elastic/docs/pull/1148).  I've tested

[2019-09-06 20:59] nik9000 commented on #1130
The page you linked doesn't look like it has any horizontal rules. Those are under each section which is something we might should talk to @Adrian-J about doing globally.

[2019-09-06 21:05] #1080 closed

[2019-09-06 21:05] nik9000 commented on #1080
@brianjolly's already done it.

[2019-09-06 21:12] nik9000 commented on #999
This looks good now! I'm not super sure what happened, but it is ok now.

[2019-09-06 21:12] #999 closed

[2019-09-06 21:12] nik9000 commented on #991
@brianjolly, I think you've made some progress on these, right?

[2019-09-06 21:15] brianjolly commented on #991
@nik9000 , yes #997 and #998 are fixed now.

It looks like #1058 is still outstanding

[2019-09-09 08:07] alaudazzi commented on #1096
+1 to rename these topics towards something more specific, like "Installing and configuring xxx".
Can you also provide some examples of the topics currently called "Getting started with xxx" ?

[2019-09-09 08:31] szabosteve commented on #1096
If they don't meet with the GS definition, then I also think they should be renamed.
For this, it is necessary to collect the respective pages in a separate issue.

@Titch990 I absolutely agree with you about the linking guidelines that you mentioned before. I add your suggestion to the DEVO working document that I linked in the first comment.

[2019-09-09 10:30] Titch990 commented on #1096
An example topic is https://www.elastic.co/guide/en/infrastructure/guide/current/install-infrastructure-monitoring.html (topic title is "Getting started with infrastructure monitoring"). This is really "installing and configuring". It's stuff you need to do before you can see the results of monitoring anything.

The Observability docs have several other similar (not always consistent, and not alwa

[2019-09-09 13:33] nik9000 opened #1165 "Search button broken"
The search button on the docs isn't working. This is technically part of the chrome so it'll be fixed in the website repo, but I'm creating this here for tracking because that repo is private.

[2019-09-09 16:20] brianjolly commented on #1165
Thanks @nik9000! We should have a fix up hopefully tonight.

[2019-09-09 18:00] gchaps commented on #1096
These are great guidelines, for getting started, tutorials, and linking.  Will you be adding this information to the [Docs writing style guide](https://wiki.elastic.co/display/DOC/Writing+style+guide)?

[2019-09-09 18:09] Titch990 commented on #1096
@gchaps. I think some of what we have is notes rather than guidelines ready for the Style Guide, although in time we all hope to have something more concrete.

You may have noticed that I have a bit of a thing about good quality links, so feel free to grab that bit now if you like it. Or I can condense it a bit and add it myself if you prefer?

[2019-09-09 18:17] gchaps commented on #1096
@Titch990 I would prefer if you add the information about links as you are the expert in this area.

[2019-09-09 19:42] gchaps commented on #1096
The Kibana docs have short examples with titles such as "Example: Register a file system repository".  See an example [here](https://www.elastic.co/guide/en/kibana/current/snapshot-repositories.html#snapshot-repositories-example).  Can I continue calling these examples, or are they tutorials?

[2019-09-10 08:57] bmorelli25 commented on #277
I've noticed this in other documentation books as well. Here are some examples.

* Beats documentation: https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-logging.html#_literal_logging_to_stderr_literal
* APM Node.js Agent:
https://www.elastic.co/guide/en/apm/agent/nodejs/current/agent-api.html
* Logstash filter plugins: https://www.elastic.co/guide/en/logstash/current/plugins-f

[2019-09-10 12:31] nik9000 commented on #277
I'll take a look, sure.

[2019-09-10 13:05] nik9000 commented on #277
This happens because the `<a>` tag that makes the little link selector show up covers up the title text. I'll see if I can undo that.

[2019-09-10 21:41] nik9000 commented on #670
One thing I think we'd like is better reporting in the github status field: we should say "no changes" if the build generated the same bits. We should say "preview at <link>" if we made a preview.

[2019-09-10 21:41] nik9000 commented on #1165
The search button is working for me now.

[2019-09-10 21:44] nik9000 commented on #670
We probably should also modify the preview application's 404 page to say that noop changes don't generate a diff. We could probably explain quite a few things on the 404 page.

[2019-09-11 16:41] lcawl opened #1180 "Documentation build should be aware of changes to shared file attributes"
Related to https://github.com/elastic/docs/issues/804

With more and more books using shared files (such as https://github.com/elastic/docs/blob/master/shared/attributes.asciidoc and https://github.com/elastic/docs/tree/master/shared/versions/stack), it is increasingly important for the build to be aware of when changes occur in those files and re-build the appropriate books.

Currently, the only

[2019-09-11 17:38] DonNateR opened #1182 "7.3.2 documentation release"
This ticket tracks PRs for release notes, version bumps, and branch updates that are necessary for the 7.3.2 release. Please link all relevant PRs.

**PRs for docs repo updates**
- [x] Updates shared versions & release-state attributes: https://github.com/elastic/docs/pull/1185

**PRs for product repo version bumps & RNs**
- [x] ES doc version bump & release-state: elastic/elasticsearch#46629
- [x

[2019-09-11 18:35] dedemorton opened #1183 "Changes to shared files in beats/libbeat do not trigger rebuild of Beats books"
We have many shared files in Beats that are reused across several books.

When we update the shared files under beats/libbeat/docs, it seems that the doc build is not detecting the change and rebuilding all affected books.

I thought we'd fixed this awhile back, but now I'm not sure...because the problem still exists.

Here's a PR that was merged 5 days ago and (as of the creating of this issue) h

[2019-09-11 18:39] lcawl commented on #1183
Related to https://github.com/elastic/docs/issues/1180

[2019-09-11 23:40] dedemorton commented on #1183
Closing because I discovered that the problem that provoked this issue was author error, not build error.

[2019-09-11 23:40] #1183 closed

[2019-09-13 18:27] #1113 closed

[2019-09-13 18:38] bmorelli25 commented on #1113
Nice! Thank you.

[2019-09-13 20:26] Titch990 commented on #1096
@gchaps @szabosteve @alaudazzi @debadair.

Here's my six-penny worth. While trying to answer Gail's question, I think I may have stumbled on a reasonable definition of the difference between Getting Started, Installation and Configuration, and Tutorials. What do you all think?

TL:DR; Yes, Gail, your example is fine. I think!

I started by trying to answer Gail's question about Examples vs Tutoria

[2019-09-13 22:33] JoshMock commented on #1113
The Jenkins bots have done their magic and the `master` docs now contain the tooltip. Example here: https://www.elastic.co/guide/en/elasticsearch/reference/master/dynamic-mapping.html

[2019-09-13 22:50] kellyemurphy commented on #336
@nik9000 could we get a feature where we can get keyword popups for glossary words? It might be helpful to have those definitions in-line rather than having to navigate to a separate page and back again.

[2019-09-16 11:46] watson commented on #896
I just ran into this again, and after looking that response headers, I noticed that it was serving the SVG with `Content-Type: text/plain`. I think if we just switched it to `Content-Type: image/svg+xml` it would probably fix it.

[2019-09-16 13:32] nik9000 commented on #787
I finished this a while back and wasn't good about tracking it....

[2019-09-16 13:32] #787 closed

[2019-09-17 01:37] #1182 closed

[2019-09-17 21:37] nik9000 commented on #336
I think an inline glossary would be really useful. I'm not sure how to do it in a friendly way, but it is worth thinking about!

[2019-09-18 22:15] dedemorton opened #1196 "Document best practices for content reuse"
Content reuse is great, but builds dependencies between projects and makes it more difficult for external contributors to update docs.

Before we go hog wild with tagged regions, let's come up with some best practices around content reuse and identify strategies for creating shared content that's easier to consume.

[2019-09-19 14:54] #1022 closed

[2019-09-19 16:28] debadair commented on #1165
There still appear to be some issues--it works the first time, but subsequent clicks on the search icon in new tabs don't bring up the search UI.

[2019-09-19 17:17] nik9000 commented on #1165
@brianjolly, could you have a look at this? Everything feels ok to me but Deb knows better than I do.

[2019-09-19 17:21] brianjolly commented on #1165
Sure thing @nik9000!

Also tracking here https://github.com/elastic/website-www.elastic.co/issues/4586

[2019-09-21 00:37] dedemorton commented on #1196
I'm going to dump some raw info here because I'm seeing stuff during the asciidoctor migration that we should avoid.

- [ ] Avoid using tagged regions to include content that contains ifdefs and ifevals.

[2019-09-22 11:14] benskelker commented on #1196
Don't know if this make any sense at all, and it would be loads of work for Nik even if it does, so just throwing out an idea for using unique IDs:

1. Tag content you want to reuse in the source file and open a PR
2. The elasticsearch-ci/docs build creates a unique ID for the tagged content and displays it somewhere in the console output
3. Use the ID in the target file
4. Resolve content reuse l

[2019-09-23 10:20] bmorelli25 commented on #804
It turns out that #1147 won't work for APM Server 😢 -- or I just don't know how to make it work. The release target expects a doc branch version in `version.asciidoc` in order to generate artifacts. The include statement that pulls in the docs version file doesn't work for that purpose. One of the developers said he could point it to the file in the docs repo, but then the build tool wouldn't know

[2019-09-23 13:32] #1135 closed

[2019-09-23 19:06] jrodewig commented on #937
Going to go ahead and close this.

I feel that we've gotten good feedback and incorporated the template into most ongoing work.

Feel free to re-open if wanted.

[2019-09-23 19:06] #937 closed

[2019-09-24 15:33] jrodewig opened #1207 "Preview diff page includes malformed links"
It looks like the Preview diff page is duplicating a list of changed file. The duplicated list looks like it contains broken/malformed links.

<img width="671" alt="Screen Shot 2019-09-24 at 11 32 16 AM" src="https://user-images.githubusercontent.com/40268737/65526369-feb5f180-debe-11e9-98c7-b3c9b2ab4ff7.png">

Here's an example diff log:
http://elasticsearch_46986.docs-preview.app.elstc.co/diff

[2019-09-24 21:33] debadair commented on #335
We've got this, now. :-)

[2019-09-24 21:33] #335 closed

[2019-09-24 21:49] debadair commented on #153
We've got this, now (built-docs).

[2019-09-24 21:49] #153 closed

[2019-09-24 21:58] debadair opened #1211 "Enable annotations on doc previews"
Now that we have previews, @kellyemurphy pointed out that it would be nice to enable people to comment directly from the rendered docs instead of from the GitHub diff. Something like http://annotatorjs.org/ might be a way to enable that.

It's important that all comments are fed back into the PR in GitHub, though. (Trying to keep track of and reconcile different comment streams is crazy-making.)

[2019-09-24 22:07] debadair commented on #324
@gchaps proposed a different solution that eliminates these "nav" pages in favor of having "categories" in the TOC structure that provide signposts without being linked pages that show up in search results and force people to click through. A frequent complaint is that you have to click through too many pages to get to meaningful content, and proliferating this sort of jump-list page probably isn'

[2019-09-24 22:12] debadair commented on #337
We've got this, now.

[2019-09-24 22:17] debadair commented on #336
@aravindputrevu Cloud is blazing the trail, but the intent is that once they have something that's workable we can use that mechanism across the docs.

[2019-09-24 22:22] debadair opened #1212 "Inline pop-ups for glossary terms"
It would be nice to be able to display glossary definitions as inline pop-ups, rather than having to click a link to the separate glossary pages. (@kellyemurphy)

[2019-09-24 23:00] debadair commented on #1196
It would be really helpful to have some authoring tooling that enabled you to introspect the source files and see all of the places where topics and tagged regions are included. And, conversely, easily open included topics to make modifications. It wouldn't really help with the contributor problem, but it would  make it a little easier for Elastic folks to understand the implications of their chan

[2019-09-24 23:05] debadair commented on #1196
WRT unique IDs, I think the way Antora handled this was that everything was scoped based on IDs set in the playbooks. I'd worry about having to author using generated IDs instead of being able to discover them from just looking at the source.

[2019-09-24 23:13] debadair commented on #1130
For @gchaps case, it feels more like something that should be implemented via CSS style characteristic than via hardcoding horizontal rules. (Though rendering manually inserted "thematic breaks" would be a handy stop-gap.)

[2019-09-24 23:21] debadair commented on #1058
Still appears to be the case. Perhaps we can treat this as a "feature" and create a customized 404 page for docs that provided a search box, links back to landing page, TOC for the book you were trying to get to, etc?

[2019-09-24 23:26] debadair commented on #998
This appears to be fixed now.

[2019-09-24 23:26] #998 closed

[2019-09-24 23:27] debadair commented on #997
This appears to be fixed now.

[2019-09-24 23:27] #997 closed

[2019-09-24 23:29] debadair commented on #995
AsciiDoctor [supports this](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#videos). I thought we had at least one place where we *did* embed a video, but maybe that doesn't actually render correctly given the current state of things.

[2019-09-24 23:33] debadair commented on #987
The reported issues appear to be fixed now. (But tables are a recurring hobgoblin...)

[2019-09-24 23:33] #987 closed

[2019-09-24 23:41] debadair commented on #909
Duplicate ofhttps://github.com/elastic/docs/issues/61

[2019-09-24 23:47] debadair commented on #859
The versioning scheme for Shield was not aligned with the Elasticsearch versions at that point in time. Refer to the [Shield installation docs](https://www.elastic.co/guide/en/shield/shield-1.3/installing-shield.html) for the version compatibility information.

[2019-09-24 23:47] #859 closed

[2019-09-24 23:49] debadair commented on #760
Closing as fixed.

[2019-09-24 23:49] #760 closed

[2019-09-24 23:56] debadair commented on #668
We absolutely should avoid generating pages with automatically generated IDs. Magic would be nice, but disabling them would at least keep from perpetuating the problem.

[2019-09-25 00:30] nik9000 commented on #668
The real reason I haven't picked this up is because I haven't had time yet.
I think soon we should do some prioritizing. I see the light at the end of
both of my current projects so it'll soon be time to start in on these.

On Tue, Sep 24, 2019 at 7:56 PM debadair <notifications@github.com> wrote:

[2019-09-25 00:55] nik9000 opened #1214 "Preview service can fail to pack on git fetch"
It looks like the preview service can get wedged trying to repack on fetch:
[code]

That is a bit garbled, but it looks like I'll need to configure git to use less [memory](https://stackoverflow.com/questions/4826639/repack-of-git-repository-fails). This makes sense because we limit the memory that the preview service is allowed to use in k8s.

[2019-09-25 00:56] nik9000 commented on #1214
It might also make sense for the preview service to take more active control over `git gc`. I'm not sure.

[2019-09-25 01:48] dedemorton commented on #668
Agreed. I suspect that most of these were fixed during the migration to asciidoctor. I think we should allow auto-generated section IDs, though, unless Nik can create a script that we can run against the docs...or hire an intern. I never want to have to backport to 25 branches ever again.

[2019-09-25 01:55] dedemorton commented on #324
@debadair I'm OK with removing the jump lists when we have a better nav design. We added them because some users were confused when they visited a short topic. They couldn't see the sub-topics that were available if the topic was towards the bottom of the TOC.

[2019-09-25 02:01] nik9000 commented on #668
I think it'd be a "from here on out" thing.

On Tue, Sep 24, 2019, 21:48 DeDe Morton <notifications@github.com> wrote:

[2019-09-25 06:18] alaudazzi commented on #995
Relates to #32109.

[2019-09-25 11:06] Adrian-J commented on #1130
@gchaps @nik9000 @debadair This is going to be a part of the new design. I'm not sure how urgent this request is, but elements like this will be considered in the new version.

[2019-09-25 14:43] gchaps commented on #1130
Thanks, @Adrian-J .  It's not urgent, so including it as part of the new design is great.

[2019-09-25 15:13] nik9000 commented on #1214
I've pushed some changes that should help with this, including #1216.

[2019-09-26 13:23] nik9000 commented on #995
Another interesting thing about video: where do the videos go before and after the build? I imagine the source repos don't want big videos in them because it'll make their git operations much slower. The `build-docs` repo can probably hold them without an issue, but it *shouldn't* hold any videos that should be distributed to air gapped folks.

[2019-09-26 13:41] alaudazzi commented on #995
Just for the sake of consistency, can we move and keep the conversation around videos in [#32109](https://github.com/elastic/cloud/issues/32109)? This is where the most recent exchanges and tests are collected.

[2019-09-26 15:42] KOTungseth commented on #995
I'm going to close this issue. If embedded videos are supported in AsciiDoctor, then we can move forward with our video work in Kibana.

[2019-09-26 20:43] nik9000 commented on #1214
That one is gone! Now I'm seeing `warning: There are too many unreachable loose objects; run 'git prune' to remove them.`

[2019-09-26 21:22] nik9000 commented on #1214
[This](https://public-inbox.org/git/20170610080626.sjujpmgkli4muh7h@sigill.intra.peff.net/t/) looks like a good explantion.

[2019-09-26 21:26] nik9000 commented on #1214
Manually running git prune and removing the log file does clear the message. That is a hint about how to clear it for good....

[2019-09-27 18:00] nik9000 commented on #1214
#1225 seems to have helped with that. If everything looks good on Monday I'll close this.

[2019-09-30 04:00] aravindputrevu commented on #336
Yeah sure. This is one constant request from community to enhance the docs experience and take feedback on how far a chapter solve their problem.

[2019-09-30 04:51] alaudazzi commented on #336
@aravindputrevu that's one of the priorities in our Cloud doc roadmap. Check [#26](https://github.com/elastic/qualtrics-surveys/issues/26) for more background.

[2019-09-30 13:42] nik9000 commented on #1214
Everything looks good!

[2019-09-30 13:42] #1214 closed

[2019-09-30 17:47] nik9000 commented on #1029
I think we'll need #1229 first, but after that I think it'll help quite a bit to do the switch. It'll prevent "accidentally escaping" from the previews, for example.

[2019-10-01 21:12] lcawl opened #1237 "Tables overlap table of contents"
Table 85 wraps poorly when I'm not viewing the following page in a full-sized window:
https://www.elastic.co/guide/en/elasticsearch/reference/master/transform-search.html

![image](https://user-images.githubusercontent.com/26471269/66000921-47d4eb00-e455-11e9-84fd-988422112d09.png)

Is this something we can address?

[2019-10-01 21:12] cjcenizal opened #1238 "[Discuss] Simplify code example usage, remove "View in Console""
The impetus behind this proposal is multi-faceted:

* I can't seem to get "View in Console" to work for me (https://github.com/elastic/kibana/issues/9396 describes my experience)
* As a workaround to this feature, I can copy the example, navigate to Console and paste it in
* If this feature is this difficult to use and the workaround is so simple, then is the feature worth it?

I suggest that we c

[2019-10-01 21:14] cjcenizal commented on #1238
If we have any usage statistics on the "Open in Console" feature that show that it's in heavy use then I think we should keep it.

[2019-10-01 22:45] debadair commented on #1238
Given that much of our docs traffic is driven from search links deep into the ES reference, “View in Console” makes a lot of assumptions that aren’t very user friendly. Everybody understands copy-paste.

When there was just Console & cURL, the dual links made sense & were convenient. With more flavors of examples, one consistent copy-paste mechanism for what’s visible makes a lot of sense.

I agre

[2019-10-01 23:08] nik9000 commented on #1238
We get a couple of thousand hits to view in console a week. I isn't a ton, but it isn't nothing.

I'd love to have less stuff to support though.

[2019-10-02 14:34] nik9000 opened #1242 "More control over next"
Lots of our docs have a "flow" and once you get to the end of the flow you should "go back" to where you started. Look at [this](https://github.com/elastic/logstash/pull/11033#discussion_r330537177). But some combination of docbook and our nav structure locks us in to "next" being the next page in the book. But in these "flows" the "next" link should really be more of an "up" link or a "back to wh

[2019-10-02 16:11] dedemorton commented on #1238
One perhaps unmeasurable benefit of having the link is that it helps users make a connection between the console and the syntax they see for curl commands in the docs. Perhaps the benefit is too minor to be of concern...but figured it was worth pointing out. If the link is fragile, it probably does more harm than good, tho.

[2019-10-02 16:39] 111andre111 commented on #1238
Just still to add here what I discuss with CJ:
Being a customer I have used this feature a lot.
But in theory if this feature produces too much overhead...
In my opinion this is just too bad documented.
Even less people I think know about the possibility that you can just copy the curl and then paste the whole string to kibana dev console and it get converted to the dev console request, that would

[2019-10-02 20:29] dedemorton opened #1244 "[Discuss] Make it easier for users to report and fix doc errors"
The underlying structure of our repos makes it hard for users and even Elastic employees to know where to go to report a doc issue. They can use the Edit link, but might feel intimidated when they see they need to open a pull request. It seems like we have all the information that we need to make this easier.

Instead of a subtle Edit icon that appears in the docs, could we have something more exp

[2019-10-02 21:03] cjcenizal commented on #1238
CC @jloleysens since this could affect Console.

[2019-10-02 21:12] debadair commented on #1238
I agree with the points @111andre111 makes above--if we decide to keep View in Console, we need to do a better job of highlighting its usefulness and configurability. And even if we don't, we need to make a clearer connection between "Console" and the Dev Console in Kibana.

When it was View in Sense, that was at least a unique name for a standalone Elastic-related tool. Console is a very generic,

[2019-10-02 21:17] nik9000 commented on #1238
If we had a generic copy link we could certainly do that.

[2019-10-03 22:35] dedemorton commented on #1244
We discussed this issue during the doc huddle on 10/13/19.

- There were some folks (mostly cloud) who thought that we shouldn't ask people to create GitHub issues because we already have a big queue of those. Cloud is hoping to add a feedback mechanism to their docs, and they feel that it will provide an easier path for users who want to report issues.

- There was general agreement that making t

[2019-10-04 13:35] nik9000 opened #1253 "Integrate `so you want to "group by"?` wizard"
@markharwood's built a lovely wizard for guiding folks through how to pick a "group by" solution. We really *should* integrate it. The question is, how? And, are "wizards" a sort of generic thing we can just universally support? We have quite a bit of power now that we've converted to Asciidoctor, so maybe!

[2019-10-07 16:53] bmorelli25 commented on #324
I'm starting to notice this problem in the APM documentation as well. I agree that they can be removed with a better nav design, but for now, they really are needed on topics where the TOC is hidden down the page. Would be great to have some sort of tooling that keeps these in sync.

[2019-10-07 18:20] nrichers commented on #324
The Cloud docs could also benefit from a solution that isn't maintained manually. We've added short overview topics for major sections in our docs, but they tend to go stale and require periodic fixing as people add new content.  In DITA, you can generate this info from the contents of the <shortdesc> tag, but there's no Asciidoc analogue that I have found.

[2019-10-08 02:16] nrichers opened #1263 "Copy as cURL should provide a hint about needing to be configured for Cloud"
Now that the **Copy as cURL** link can be made to work for Cloud and we want to use it in our Cloud docs, it would be good to prompt users to configure it. User need to add their own Cloud endpoint URL and user name to replace the default `localhost:9200`, or it's going to fail out of the box every single time. Which makes for a poor user experience. 🙂

This is the link:

![image](https://user-ima

[2019-10-08 12:14] prondzyn opened #1266 ""es$(...).devbridgeAutocomplete is not a function" error breaks search bar"
From time to time (but quite often) I see a bug in the browser console:

and when it occurs, the search lens button stops working - the search bar is not opening at all.

![search_lens_not_working](https://user-images.githubusercontent.com/5822647/66394346-2fc11680-e9d5-11e9-8dae-bc23e4a6fe8d.png)

My Chrome browser version is 77.0.3865.90 but I observed this issue on other browsers as well. Guess

[2019-10-08 12:22] #1029 closed

[2019-10-08 18:43] VimCommando commented on #1244
Being on the support team, I found this issue because of exactly what you're talking about: I need a documentation page updated, and I'm not clear what the "correct" process is to do so.

We would be fine opening GitHub issues, because we use those all day for other Q&A activities. Although I do understand the concern of having to manage those.

[2019-10-09 17:09] ycombinator opened #1274 "Links broken on Metricbeat Reference index page"
All links on this page are broken: https://www.elastic.co/guide/en/beats/metricbeat

The links take the user to pages with URLs like https://www.elastic.co/guide/en/beats/7.2/index.html (which doesn't exist and results in a 404). Instead the links should take the user to pages with URLs like https://www.elastic.co/guide/en/beats/metricbeat/7.2/index.html. So it looks like the beat name is not bein

[2019-10-09 17:13] nik9000 commented on #1274
@ycombinator, how did you get that url? Is it linked somewhere?

[2019-10-09 17:15] ycombinator commented on #1274
I'm afraid I manually typed it in. I was looking at a Filebeat doc page and wanted to navigate to Metricbeat docs so I typed in the URL https://www.elastic.co/guide/en/beats/metricbeat hoping it would take me to the right starting place.

[2019-10-09 17:16] ycombinator commented on #1274
BTW I just realized the same thing is happening on https://www.elastic.co/guide/en/beats/filebeat as well, FWIW.

[2019-10-09 17:16] nik9000 commented on #1274
Got it!

We used to redirect from there to `/index.html` and all the links have always been relative to `index.html`. I'm tracking down why we don't redirect.

[2019-10-09 17:17] nik9000 commented on #1274
Yeah, it'll be every page where we serve `index.html` instead of redirect.

[2019-10-09 19:25] nik9000 commented on #1274
This should be fixed now!

[2019-10-09 19:25] #1274 closed

[2019-10-10 13:42] jrodewig opened #1279 "Add support for collapsible sections"
To improve our breaking changes documentation, the Elasticsearch writers would like to use collapsible sections in our HTML output.

As of writing, it doesn't appear this is supported. I've documented my attempts to implement collapsible sections below.

### Option 1: Use the Asciidoctor`[%collapsible]` block
I first tried to use the [`[%collapsible]` block](https://mrhaki.blogspot.com/2019/03/awe

[2019-10-10 13:43] jrodewig commented on #1279
Adding the #team-discuss label as I want to gauge interest in this feature and see if anyone has other workarounds.

[2019-10-10 13:48] jrodewig commented on #1207
This appears to have cleared up. Closing this issue.

[2019-10-10 13:48] #1207 closed

[2019-10-10 18:57] gchaps commented on #1279
@jrodewig +1 for collapsible sections.  In Kibana, we can use them for breaking changes, and also for examples.

[2019-10-10 18:59] bmorelli25 commented on #1279
APM doesn't have a specific use case, but it's a welcome enhancement.

[2019-10-10 19:21] bmorelli25 opened #1284 "Add support for categories in the TOC"
This feature request came up in a conversation with @gchaps, @DonNateR, @lcawl, and @nik9000. Please feel free to edit this issue if I missed anything.

## The Problem
Nested content is hidden, which can make it more difficult to find. This problem was brought to light when Machine learning docs were nested under the Extend your use case heading:

<img width="676" alt="Screen Shot 2019-10-10 at 12

[2019-10-10 21:04] #593 closed

[2019-10-10 21:07] nik9000 commented on #368
We have removed this nav bar! Sorry for no response in a whole year. All better now though.

[2019-10-10 21:07] #368 closed

[2019-10-10 21:08] nik9000 commented on #371
This looks like an issue for the elastic/elasticsearch repo.

[2019-10-10 21:08] #371 closed

[2019-10-10 21:08] nik9000 commented on #588
This is just how docbook works. I think we'll have to remove docbook to remove this....

[2019-10-10 21:08] #588 closed

[2019-10-10 21:09] nik9000 commented on #631
I believe we've done this! @nrichers, can you confirm or deny?

[2019-10-10 21:13] nik9000 commented on #670
I've strike-through-ed the deprecated repositories above. I don't think we'll add tests to them.

[2019-10-10 21:13] nik9000 commented on #1266
@brianjolly, could you have a look at this one?

[2019-10-10 21:23] lcawl opened #1286 "Expanded table of contents"
Currently, the landing pages for our books have the full table of contents with only the top level pages visible.  For example:

![image](https://user-images.githubusercontent.com/26471269/66607330-cd991a80-eb68-11e9-963e-abf56929264e.png)

There is a content reorganization underway in several books which involves reducing the number of items at the top level of the navigation. Would it be possibl

[2019-10-10 21:46] nik9000 commented on #1286
I talked to @lcawl and @gchaps and it looks like we'd like to be able to pick which sections we expand. If we can't pick then we'd just like to expand them all. But only in books that want it.

[2019-10-11 16:37] nik9000 commented on #1058
I believe the current plan for hosting the docs will have the docs-preview application owning the 404 page. And all the other error pages for that matter. So, yes, we can customize it.

[2019-10-11 16:40] nik9000 opened #1291 "Make fancy error pages for docs preview"
We should improve the error pages in the docs-preview application to make them more like the public site because we plan to one day host the docs part of the public site from the docs-preview application.

This kind of supersedes #1058.

[2019-10-11 20:52] brianjolly commented on #1266
Yes, hoping to have a fix for this one soon.

[2019-10-15 18:36] Titch990 opened #1300 "Local docs builds are setting all links, including links external to the doc being built, to localhost"
This issue has been observed in the stack-docs repo, while building the Infrastructure Monitoring Guide (command `docbldinf`). So far it doesn't seem to affect the Kibana docs.

Previously, in a local docs build, external links were used exactly as coded, so for example, in the built docs, an external link from the Infrastructure Monitoring Guide to a page in the Kibana doc may look like this: htt

[2019-10-15 18:46] dedemorton commented on #1300
This is a relatively recent problem. I had an older version of the docs repo on my system (from about a week ago), and did not see this behavior, even with asciidoctor builds.

If this is expected behavior, would it be possible to add a flag to the build command so that we can have a local build with working external links? I actually use these links quite a lot.

[2019-10-16 09:54] Titch990 commented on #1300
In the short term, when testing links, I can continue to work almost as normal by replacing `localhost/8000` in the broken link with `https://elastic.co`.

[2019-10-17 07:10] alaudazzi commented on #1279
@jrodewig I have been using collapsible sections (also called "Zippies") in my previous job. It's a great solution to enhance navigation and discoverability in general.

[2019-10-17 15:11] Titch990 commented on #1300
I think that if the link is into a document that has been included in the build, it should be a localhost link, so we follow the link into the doc we built. Whereas if the link is to a document that isn't included in the local build, it should be to elastic.co, so we can be sure we haven't broken a link that used to work.

So for a build of all the docs, all links into docs pages should be local,

[2019-10-17 16:56] nik9000 commented on #1300
That'd be perfect from a preview standpoint, yeah. I want to make it "work" for air gapped docs too though, and they would prefer the link be root relative.

I think:
1. If you are building a single book then don't relativize any links
2. If you are building many books then link outside of `/guide` should redirect back to elastic.co *unless* you are looking at the air gapped docs.

I really didn't

[2019-10-17 17:29] nik9000 commented on #1300
I've opened two PR that I think will fix this once both are merged. I'll update this once both are in.

[2019-10-17 20:24] nik9000 commented on #1300
@Titch990, could you try pulling the docs repo again and seeing if this is fixed?

[2019-10-18 20:17] debadair opened #1324 "Enable setting build options on a per-version basis"
We have the ability to set a noindex flag on a book, but it applies to all versions of the book. For sunsetting and removing older versions, it is significantly less disruptive from an SEO standpoint if we can tell search engines to stop indexing a version before we stop publishing it. Otherwise, the pages stick around in the search index for an indeterminate amount of time and lead to 404s from s

[2019-10-21 14:21] nik9000 commented on #1180
I believe we have this now with #1297, #1295, #1294, and #1256.

[2019-10-21 14:21] #1180 closed

[2019-10-21 18:48] nik9000 commented on #1300
I'm going to close this now. If you don't think this is fully fixed please reopen it.

[2019-10-21 18:48] #1300 closed

[2019-10-22 19:08] nik9000 commented on #677
It turns out that building a file with the outgoing links from each project and the anchors would be useful for folks to look at as well. I *think* that is the right way to do this - do the link and id extraction into a file after building the book and then do the actual link checking by reading the file.

[2019-10-22 20:51] nik9000 commented on #1237
It looks like this is fixed actually. I'm not sure who did it though.

[2019-10-22 20:51] nik9000 commented on #1237
@lcawl, could you double check/

[2019-10-22 22:35] debadair opened #1336 "Incorporate validation checks into our doc build/PR process"
We should add automation to "lint" the docs to:

- Spell check, make sure product names follow the correct forms, etc
- Flag accessibility issues such as tables that don't have proper headers, spatial and color references, etc.
- Call out "forbidden" words and phrases, such as "It's easy to", "simply," etc.
- Flag missing anchors and anchors that don't follow appropriate naming conventions (no cap

[2019-10-23 15:39] zuketo opened #1338 "Docs homepage"
Improvements to the docs homepage: https://www.elastic.co/guide/index.html

Initial notes and landing page outline from @debadair are [here](https://docs.google.com/document/d/1HZkPoZ8oZfidhXDMTWwV9gKG9D_83uBseYrUNJDMwIg/edit#heading=h.4klx2u1752i0)

@Adrian-J's [latest design](https://marvelapp.com/9e91008/screen/62324268)

Let's use this issue for tracking both the homepage changes and any new C

[2019-10-23 15:40] zuketo opened #1339 "Global styles"
Issue for tracking any global CSS styles needed for the docs site design improvements.

CC @Adrian-J

[2019-10-23 15:44] zuketo opened #1340 "User flow and navigaion"
User flow and navigation improvements as part of the docs redesign.

@debadair's previous document on [Navigation success and failure](https://docs.google.com/document/d/1zeh2V1E-gDNoVJ7RheF9-Y0CuVM4mDBNjS-uyw17iCk/edit)

CC @Adrian-J

[2019-10-23 15:47] zuketo opened #1341 "Page layout"
Changes to the page structure and layout for the docs design improvements.

This issue should include all viewports: mobile, desktop, tablet, ultra-wide, etc.

CC @Adrian-J

[2019-10-23 15:52] zuketo opened #1343 "Content improvements"
Issue for tracking any UI improvements for page content as part of the docs redesign work. This may include new content elements, such as videos, or improvements to how code snippets are displayed.

CC @Adrian-J

[2019-10-23 15:56] zuketo opened #1344 "Related content"
Improvements to how we show related content within a docs page

[2019-10-23 15:57] zuketo opened #1345 "Search improvements"
Improvements to the search experience within our documentation.

[2019-10-23 17:52] dedemorton commented on #50
@inqueue I'm curious if there are specific content areas where you're seeing a lot of churn that's causing you pain. I'm not sure about the permalink question (I'll leave that to @nik9000 to answer because I think our doc tools are a huge limitation here). However, writers _should_ be setting up redirects to minimize broken links. If you are seeing a lot of broken links, that's a bug, and we need

[2019-10-23 18:08] nik9000 commented on #50
I think we should stop using `current` which would go a long way for this.

I think it is super reasonable to expect that a versioned link won't change, except for `master` and the `.x` links. Those are "development" branches are constantly being hacked. For the most part I think we should get permanent links by being disciplined about not moving things or leaving redirects when we do. Some tools

[2019-10-23 18:16] nik9000 commented on #1266
@brianjolly, is this one fixed?

[2019-10-23 18:17] brianjolly commented on #1266
Hi @nik9000! Yes, this one has been resolved. Thanks for checking :)

[2019-10-23 18:17] #1266 closed

[2019-10-23 18:28] dedemorton commented on #50
I agree, but I think some writers choose to backport these types of changes because it makes other backports easier and it makes the version switching work better.  If you don't backport the changes, you get into a weird situation where switching versions drops you into an entirely different "book". (Hopefully our site redesign will improve this situation by making the content easier to navigate f

[2019-10-23 20:09] debadair commented on #1340
Actually, it was @Titch990 that put that document together. :-) I completely agree with her point, though.

IMO, the biggest issues with our existing navigation are:

- Nav widgets aren't always visible. (@Adrian-J's mock-ups address this--scrolling the content is independent of the nav).
- Lack of context. When you get deep linked into the docs from search, it's not obvious where you are  in the

[2019-10-23 20:17] debadair commented on #1339
Relates to https://github.com/elastic/docs/issues/229.

[2019-10-23 20:22] debadair commented on #1344
I think there are a few aspects to this:

- Enabling navigation between related books
- Visual cues that make it more apparent which category of content you're viewing
- Tagging related pieces of content and automatically generating "related" links.
- Providing wizard-type navigation for related topics that are part of a procedure

[2019-10-24 21:10] dedemorton opened #1357 "Codify how we manage moved content and redirects"
Currently we have two processes:

1 - We set up redirects by submitting a ticket in the website repo: https://github.com/elastic/website-www.elastic.co. Sometimes we update the legacy redirect file in the docs repo (not sure where that went). Not all contributors are aware of this process. This process has caused problems in the past because the redirects exist indefinitely and might inadvertently

[2019-10-25 18:10] nik9000 commented on #786
It turns out that we need this to support ECE because of https://github.com/elastic/infra/issues/15606

[2019-10-28 17:33] lcawl commented on #1357
I've used method 2 (deleted pages e.g. https://www.elastic.co/guide/en/elasticsearch/reference/master/redirects.html) to enable me to pass PR link checks when content that is referenced from multiple repos moves. I've then gone back and removed the deleted pages (from the most recent branches) after the links are updated in all of the appropriate repos.  I think we therefore need a combination of

[2019-10-28 17:33] nik9000 commented on #786
Done in #1342.

[2019-10-28 18:13] #786 closed

[2019-10-29 14:00] nik9000 commented on #631
I'm going to repurpose this issue to track deploying this to cloud's docs. That will:
1. Come after converting cloud's docs to Asciidoctor.
2. Require some engineering to separate the configuration of the "coordinating" server (ECE) from the cloud endpoint (SaaS).

[2019-10-29 16:33] lcawl commented on #1237
I still see the problem when the browser window isn't full size.

[2019-10-29 16:41] nik9000 commented on #1237
I see it now!

[2019-10-29 21:37] #1237 closed

[2019-10-29 23:12] dedemorton commented on #1196
A group of us have been discussing approaches to content reuse. @lcawl created a PR that shows what it might look like to house shared content about monitoring in the docs repo:
https://github.com/elastic/docs/pull/1370

After reviewing this PR, I have some concerns about chopping the content into a lot of small pieces and housing it outside of the main content repos. It just doesn't feel right to

[2019-10-30 09:05] benskelker commented on #1196
Dede's [gdoc on content reuse](https://docs.google.com/document/d/1XmptxWoKE2QAyxhNjBT4aDkUJuh0siy31NAodNM0870/edit#heading=h.ru5xx3bm0nw2).

[2019-10-30 18:24] lcawl commented on #1196
I agree with the concerns about breaking content into smaller pieces shared in a separate location.  However, when we leave the pieces in situ, to re-use them we must:

. Increase the list of dependencies that folks must check out to pull the content from the appropriate repos. Perhaps this is less of a concern now that we have preview builds and less folks have to figure out how to build books in

[2019-10-30 20:45] dedemorton commented on #1196
I agree. I don't think we should be reusing content across repos unless the content is in a shared location (to minimize dependencies). However, we need to be very careful about what we put into our "library" of reusable content. Just within the Beats project itself, I've noticed problems with chunks of "reused" content (especially small chunks) being overlooked during updates:

* Some contributor

[2019-10-30 21:30] dedemorton commented on #1196
Wanted to add to what I said before (as if I haven't said enough words...hehe). I think/hope that our architecture changes will make some of the duplicated content unnecessary (should be true if we organize around user goals rather than product silos).

[2019-10-30 21:46] debadair opened #1371 "7.4.2 documentation release"
This ticket tracks PRs for release notes, version bumps, and branch updates that are necessary for the 7.4.2 release. Please link all relevant PRs.

**PRs for docs repo updates**
- [ ] Updates shared versions & release-state attributes:

**PRs for product repo version bumps & RNs**
- [ ] ES doc version bump & release-state:
- [ ] ES RNs:
- [ ] ES ML RNs:
- [ ] ES Hadoop version bump:
- [ ] ES Hado

[2019-10-31 19:24] jdivy opened #1377 "Mobile vs desktop seems reversed in Chrome?"
It's not entirely clear to me where this should be reported, but the 'docs generator' seems close enough for now.  For some time now Chrome thinks the elastic documentation is mobile when looking at it on a desktop, and it's quite annoying.  Apologies in advance if this should have been reported elsewhere (surely I'm not the only one who experiences this phenomenon), but for me this happens on blo

[2019-10-31 22:33] gchaps opened #1379 ""No such file" error when building the docs"
I'm getting an error when I build the docs.  I checked with another writer, and they are getting the error too. The error looks like this:

Traceback (most recent call last):
  File "./docs/build_docs", line 600, in <module>
    build_docker_image()
  File "./docs/build_docs", line 74, in build_docker_image
    build = common_popen(cmd, env={'DOCKER_BUILDKIT': '1'})
  File "./docs/build_docs", lin

[2019-10-31 22:36] bmorelli25 commented on #1379
I'm able to reproduce this as well. @nik9000 I think this was introduced in 6c52c0e8067b12cf293ea253f1ee1f50457926f8. As a workaround I was able to check out c49b32ab0de2f3db43485112324c2804573b5e9c to get the doc build working again:
[code]

[2019-10-31 22:59] nik9000 commented on #1379
I didn't have the error locally but I'll see what I can do to reproduce it
in the morning!

On Thu, Oct 31, 2019, 18:36 Brandon Morelli <notifications@github.com>
wrote:

[2019-11-01 01:40] nik9000 commented on #1377
@brianjolly this might be for you because it hits blog posts as well.

@jdivy, I haven't used Chrome in a few years and never used their dev tools much so I'm not entirely sure what you are describing. Is this "just" an issue with the dev tools or does it manifest in funny layout? I can't quite tell from your image what is going on. @brianjolly knows much more about this sort of thing than I do so

[2019-11-01 17:14] brianjolly commented on #1377
Hello @jdivy, thanks for the report! We will try to get this working for you.

Our mobile breakpoint is at about 768 width. Looking at your screenshot, you have the width set at 918 width, so it should be showing the desktop view. The text and logo in your screenshot look very big if the window is set to 918 width. Could you double check your zoom level? Or do you have any custom font size setting

[2019-11-01 18:09] jdivy commented on #1377
wow.  just checked on another computer and it's fine...you are correct sir - zoom level stuck at 250% and I hadn't noticed.  Sorry for the distraction for something so silly.

[2019-11-01 18:09] #1377 closed

[2019-11-01 18:11] brianjolly commented on #1377
No worries @jdivy, thanks for confirming!

[2019-11-01 18:12] jdivy commented on #1377
I thought I was going crazy - thanks for your excellent work and excellent documentation!

[2019-11-05 15:13] nik9000 commented on #505
All done!

[2019-11-05 15:13] #505 closed

[2019-11-05 23:32] nik9000 commented on #743
I'm going to pick this up soon!

[2019-11-12 11:56] Leaf-Lin commented on #1345
For example, when searching for `ecctl`, I am expecting to see https://www.elastic.co/guide/en/ecctl/current/index.html or some of the [children pages](https://www.elastic.co/guide/en/ecctl/current/ecctl-installing.html), but instead I see:
<img width="1156" alt="Screen Shot 2019-11-09 at 8 52 35 am" src="https://user-images.githubusercontent.com/39002973/68669781-7b03b180-059f-11ea-9faa-61e9e0dba

[2019-11-13 20:27] bmorelli25 opened #1405 "Funky table styling in the docs"
It looks like our CSS styling has changed for tables in the docs. There is now a bottom and right border appearing on all tables. Some users aren't able to see these tables. Was able to replicate in Chrome, Firefox, and Safari.

Here are two examples:
* https://www.elastic.co/guide/en/ecs/current/ecs-file.html
* https://www.elastic.co/guide/en/cloud-enterprise/current/Authentication.html#ece_form_

[2019-11-14 17:29] debadair opened #1407 "Disable edit links in non-maintained versions"
Currently, the edit links show up for all pages in all versions if the source is in a public repo. This leads to PRs being opened against versions that we otherwise wouldn't touch. Those fixes often get "lost" because they aren't forward ported, and forward porting them is difficult due to the constant evolution of the docs.

The simplest option is to remove the edit button for select versions of

[2019-11-16 02:10] debadair opened #1419 "Sunset EOL versions of the docs"
It's helpful for folks to be able to reference docs for older versions, but we want to steer people who are new to the stack to the latest versions and encourage people who are running EOL versions to upgrade.

To this end, we should:

- [x] Omit EOL versions from the version drop-down.
- [x] Update the banner on EOL versions to highlight that it is EOL, encourage upgrades, and direct folks to doc

[2019-11-18 16:54] lcawl commented on #1419
I had thought at the very least we should stop updating and building the out of support versions (i.e. leave a static copy of that content on the web). If we can get away with removing them entirely, however, that's even better.

[2019-11-18 19:08] debadair commented on #1419
Having fewer duplicate pages has benefits from an SEO perspective, and reduces the likelihood of unsuspecting users landing on pages that don't apply to the version they're using.

As part of the migration effort, @nik9000 raised a concern about publishing pages that we can't update. If we simply freeze them and stop routinely building them, we are likely to break the ability to build them without

[2019-11-18 20:05] zuketo commented on #1407
+1, I like the proposal to remove the edit button completely for non-maintained/EOL versions. I also like the idea of using stronger language in the top message. A competitor uses the wording "This version of the manual is no longer supported." for EOL versions, maybe something along those lines?

[2019-11-18 20:49] zuketo commented on #1419
I completely agree with:

- Discontinue publishing EOL versions of the docs except for the last minor in the major version series. Today, for ES that would mean publishing: 0.90, 1.7, 2.4, 5.6, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.x, master.
- Update the banner on the remaining EOL versions to highlight that it is EOL, encourage upgrades, and direct folks to documentation

[2019-11-19 00:37] debadair commented on #1419
We could just sunset the old versions by updating the banners and adding the noindex tag, but continue to build and publish them. @nik9000 how difficult it would be to only show the "live" versions in the drop down? That seems like it might not be a hard change?

Changing the URL structure seems likely to cause a lot of the same link problems as removing the pages, without the global redirect hamm

[2019-11-19 00:54] nik9000 commented on #1419
I think it'd be pretty easy to only show the live versions in the drop
down.

On Mon, Nov 18, 2019, 19:37 debadair <notifications@github.com> wrote:

[2019-11-19 19:46] zuketo commented on #1419
@debadair nice solution, and reducing the size of the drop down list will make it easier to navigate

Yea, scratch the url structure suggestion :)

[2019-11-20 09:11] markharwood commented on #1253
@dadoonet had the wonderful idea of integrating this into Console - that way rather than asking questions like "how many unique grouping values do you have?" we can check live data and help make decisions for them. Even things like estimating overall running times.

[2019-11-20 09:53] nik9000 commented on #1253
That is a good idea!

[2019-11-20 19:06] debadair opened #1431 "Show only "live" versions in the version drop-down"
Omit versions that have passed their EOL date from the version drop down.

As part of "sunsetting" old versions to reduce confusion and encourage folks to move off of really old versions, we want to limit the version drop-down to versions we still actively support.

Relates to: https://github.com/elastic/docs/issues/1419

[2019-11-21 00:02] lcawl opened #1433 "Improvements to the visibility of deprecated/experimental/beta paragraphs"
The method that we use to draw attention to additions/deprecations or experimental features is described here:
https://github.com/elastic/docs#additions-and-deprecations

Unfortunately, the inline version of this text is not very eye-catching and requires users to hover it for more information.  For example, see the problem description in https://github.com/elastic/kibana/issues/47620

Can we impr

[2019-11-21 19:55] bmorelli25 commented on #1419
I really like this proposal! Quick question:

When we say documentation is no longer being updated, like in https://github.com/elastic/stack-docs/pull/694, does that simply mean that we're not backporting to these branches? Or is it broader than that? For example, how does link checking fit into this conversation? If we're not backporting, should we also consider turning off link checking in our b

[2019-11-21 23:01] dedemorton commented on #1336
It would also be good to have a recommended tool that internal contributors can use before they submit PRs. Ideally this tool would plug into editors like Atom, Sublime, and vscode

Here are some possibilities that came up during a recent conversation about grammar linters:

https://github.com/amperser/proselint/
https://github.com/btford/write-good (vscode)
https://github.com/AtomLinter/linter-wr

[2019-11-25 19:17] kellyemurphy opened #1452 "Automatically generate mini-ToCs"
Right now, we are currently creating and maintaining the mini-ToCs (aka "glue" text) manually. This leads to inconsistency and incorrect entries. See the [ECE](https://www.elastic.co/guide/en/cloud-enterprise/current/ece-administering-deployments.html) for an example - look at the difference between the bulleted links on the page and those in the right navigation.

It would be great if this was so

[2019-11-27 18:34] #1431 closed

[2019-11-27 19:05] nik9000 opened #1480 "Remove or modify unreleased versions from the drop down"
We just (#1447) removed non-"live" versions from the version drop down and @rjernst asked a great question:

I'm no sure to be honest. I *love* that we have `master` and `7.x` in there because it invites the folks curious about the development process to explore it and, hopefully, be delighted about how open we are. But maybe it'd be worth removing them from the list. Or marking them `(unreleased)

[2019-11-27 19:53] Adrian-J commented on #1338
The latest design for the homepage can be found [here](https://marvelapp.com/9e91008/screen/62324268).

cc for visibility: @zuketo @debadair @gchaps @nik9000 @nrichers @dedemorton

[2019-11-27 22:19] lcawl commented on #1480
I think that given that we now have "other versions" in the list (https://github.com/elastic/docs/pull/1481), it's reasonable for users to find 7.x and master there too. In which case, the drop-down list would only contain the supported, released docs.

[2019-11-27 22:38] debadair commented on #1480
Yes, master and 7.x do cause some confusion--particularly master. Contributors generally understand our versioning model, but regular users don't necessarily make the connection between master and the next major version.

I do think there's value in surfacing upcoming/in-progress releases, but I worry that adding qualifying text to each entry would be too cluttered--especially at the top of the li

[2019-11-27 22:41] rjernst commented on #1480
Perhaps instead of "All version" or "Other versions", we could have "Past versions" and "Unreleased versions". I like the idea of having it still easily findable, but very few people (and mostly just maybe plugin developers) need to find the unreleased version docs.

[2019-11-27 23:07] debadair commented on #1480
If we added headings for Unrelease and Past versions to the version link farm pages, we could do that.

I do think that the docs for the next release are of interest to more than just plugin developers--looking at the analytics, the most-viewed pages in 7.5 are the release notes and breaking changes.
Things get murkier for 7.x and master, and there's significantly more traffic to master than 7.x a

[2019-12-06 12:11] lucabelluccini commented on #1419
Hello @debadair ,

We're collecting some feedback from Support:

- Mangling the URL takes generally more time
- The previous version selector "tried" to maintain you on the same page/section, while now it points you to the documentation index
- It seems strange though that what we consider "outdated" versions from docs does not match our EOL policy.  I get that we want to encourage users to upgrad

[2019-12-06 15:21] sylvie777 opened #1536 "Difficult to find older versions of documentation"
Provide the following information to help us identify and troubleshoot the issue.
- Page URL: e.g. https://www.elastic.co/guide/en/elasticsearch/reference/current/watcher-api-put-watch.html
- Device type: Laptop
- Specifics (e.g., OS, Hardware, Browser, etc.): Chrome Version 78.0.3904.108 (Official Build) (64-bit) on Ubuntu 18.04

List out steps on how to recreate the issue.
1. Go to the current v

[2019-12-06 15:31] nrichers commented on #1345
A bit of storytelling around a better search experience: [Content as Search  - GAH Presentation](https://docs.google.com/presentation/d/1UpCdU-OoJp867xtMQnseYUGu6ERCmOw2spyM4LgzZZE/edit#slide=id.g5814e44661_0_3).

When the time comes to work on this, I can also spend a bit of time documenting what I know about curating search results with our current implementation, which might be a first good ste

[2019-12-06 16:00] nik9000 commented on #1419
This is something the writers will have to manage.

I believe they still [are](https://github.com/elastic/docs/issues/1536#issuecomment-562585229), though we might have made it more difficult to get at them. I'm not sure. @debadair, do you know who manages the search stuff? I'd be happy to talk to them.

I'll work on that now.

[2019-12-06 18:32] nik9000 commented on #1536
Relates to #1419.

[2019-12-06 19:12] debadair commented on #1419
@lucabelluccini Thanks for the feedback!

@nik9000's proposal in #1538 feels like a good compromise wrt the drop down. It's an extra click from the original behavior, but the end result is the same.

One of the motivations for these changes was to make the end of maintenance and EOL policy more apparent in the docs. There is no change to what's considered OOM and EOL--the difference is actually th

[2019-12-06 19:16] nik9000 commented on #1419
It shows up if you go to a version that isn't "live". I'd be quite happy to change the label.

[2019-12-06 21:47] nik9000 commented on #1419
I've merged #1538 which feels like it'll make things a little better.

[2019-12-07 01:16] debadair commented on #1419
Instead of changing the "out of date" label in the drop-down, maybe just remove it? With the banner, I don't think it's necessary.

[2019-12-09 17:22] nik9000 commented on #1419
I opened https://github.com/elastic/docs/pull/1546

[2019-12-13 10:24] shanksy01 commented on #1419
Folks, we need the EOL docs to absolutely be searchable by at least support - has this been blocked already and if so, can it be reverted or can we have instructions on how to do it internally at least please?
@elastic/support-tech-leads
@elastic/janitors

[2019-12-13 13:12] nik9000 commented on #1419
I *thought* they were still showing up but, just like you say, they are all gone now. I'll see what I can do about it.

[2019-12-13 13:25] nik9000 commented on #1419
I've opened #1590 which should get the pages back into the docs sitesearch. I'm not sure how long that takes. I'm trying to find someone to help me access the sitesearch instance we use so I can change things.

[2019-12-13 14:16] nik9000 commented on #1419
Page are now starting to show up for the old versions of the docs again.

[2019-12-13 21:32] zuketo opened #1614 "Update docs to include a H1 on all pages"
Hi @AnneB-SEO I've created an issue in the docs repo for tracking work to add h1 tags. From your original issue:

"All pages would benefit from having a H1 heading. Currently sub topics start with a H2 and do not have a H1.

This change would improve the ability for crawlers to identify the page topic and improve ranking. While there is some debate within the SEO community around the importance of

[2019-12-16 19:15] AnneB-SEO commented on #1614
Thanks @zuketo !!!

[2019-12-16 22:06] nrichers opened #1629 "Make the Edit button work for Cloud docs!"
Enabling the **Edit** button for Cloud docs would be easy, if it weren't for the fact that those docs today live in a private repo. But there are still many people who do have access to the elastic/cloud repo, and so ...

... if we could figure out a way to enable the Edit button for those who do have access to the elastic/cloud repo, that would make quick docs changes so much simpler, not to ment

[2019-12-16 22:08] ppf2 commented on #1629
LOVE IT ❤️

[2019-12-18 18:06] #995 closed

[2019-12-19 17:34] bmorelli25 commented on #1405
Ahh, just found out this was added (for good reason) in https://github.com/elastic/docs/pull/1368 and https://github.com/elastic/docs/pull/1382. Hopefully we can fix this in the future.

[2019-12-20 19:58] nrichers commented on #1629
@kellyemurphy raised a good point today: we also have the tooltip we can update, so that it clearly indicates you need to have access to the closed elastic/cloud repo:

![image](https://user-images.githubusercontent.com/15148011/71288478-e7e93480-231f-11ea-80b1-0e9c6808c677.png)

We could say something like `Requires access to edit this page on GitHub` or something like this.

[2019-12-27 14:53] jrodewig commented on #1279
Since @nik9000 migrated our docbooks to direct HTML (thanks again Nik!), we can now use the html passthrough method (option 2).

Here's a proof of concept I worked up using a section of the Elasticsearch 8.0 breaking changes:

- Preview: http://collapsible-sections.docs-preview.app.elstc.co/guide/en/elasticsearch/reference/master/breaking-changes-8.0.html#_indices_created_before_7_0
- Source: http

[2019-12-28 21:41] nik9000 commented on #1279
I think collapsible would be nicer though! I can probably make that work.

[2019-12-30 22:23] astefan opened #1685 "Different layout for the components of SQL REST API page"
I noticed recently (may have been like this for some time though) that there is a rather big difference between 6.7 and 6.8 documentation when it comes to a specific page. _There may be other inconsistencies like this one, but haven't checked the rest of the SQL documentation yet_.

In SQL REST API page, [in 6.7 there is basically a single page](https://www.elastic.co/guide/en/elasticsearch/refere

[2019-12-31 12:33] benskelker commented on #1279
Thanks @jrodewig - I tried playing with. The `details` tag is not supported in [MS IE/Edge](https://www.w3schools.com/tags/tag_details.asp).

[2020-01-02 14:25] jrodewig commented on #1279
@benskelker Good to know. It looks like there are several polyfills for IE/Edge, but none of those are easily implemented via HTML itself. It seems like implementing this through Asciidoctor is preferable.

[2020-01-02 18:05] nik9000 commented on #1279
It turns out that Asciidoctor just uses `<details>` and `<summary>` anyway. But I'll open a PR in a few minutes to add support for it via the native asciidoctor syntax. And docs. And a polyfill to (hopefully) get it working in IE.

[2020-01-02 18:23] #1279 closed

[2020-01-03 22:00] jrodewig opened #1689 "extra-title-page content not displaying when building all docbooks"
It looks like the legal notice content in the Elasticsearch [`index-extra-title-page.html` file](https://github.com/elastic/elasticsearch/blob/master/docs/reference/index-extra-title-page.html) is not displaying on the book's index page:

https://www.elastic.co/guide/en/elasticsearch/reference/master/index.html

After doing some local tests, I discovered the page _does_ display when building only

[2020-01-03 22:05] jrodewig commented on #1689
Tagging @nik9000  in case you've got any ideas. No worries if not.

[2020-01-03 22:07] nik9000 commented on #1689
Does it show up if you do:
[code]
?

[2020-01-03 22:10] jrodewig commented on #1689
@nik9000 Yes, it does.

[2020-01-03 22:14] nik9000 commented on #1689
Well then! I'm not really sure. I can certainly do some debugging in the morning.

[2020-01-03 22:18] jrodewig commented on #1689
Sounds good. This isn't a big deal or a big rush. This content was only displaying in master.

I'm not a Perl expert (or even dabbler), but I wonder if it has anything to do with `build_single` vs. `build_chunked`. Thanks as always for your help!

[2020-01-06 20:03] #1689 closed

[2020-01-06 22:31] jrodewig commented on #1685
Hi @astefan

With elastic/elasticsearch#43007, It looks like there are several `[float]` attributes were removed from sections on this page. Here's an example for the pagination section you referenced:

https://github.com/elastic/elasticsearch/pull/43007/files#diff-84f64183bb03317ed998fc0e9ddd5c79L133

The `[float]` attribute kept each heading + section on the same page. When removed, each section

[2020-01-10 00:13] lcawl opened #1693 "Handling previews for PRs against feature branches"
It seems that documentation previews are not generated for feature branches.

For example, in https://github.com/elastic/elasticsearch/pull/50821 the elasticsearch-ci/docs check is successful but doesn't generate previews and the log says:

There *are* in fact documentation changes in that PR, however, so it seems to me that check is providing misinformation.

I think we should make it clearer som

[2020-01-10 13:39] nik9000 commented on #1693
It's be *fairly* easy to add the feature branch to the list of branches for which we build docs. Then the docs for the feature branch would be public and we'd build the docs on previews. The feels like the right kind of public for us.

[2020-01-15 21:19] DSCourcy opened #1702 "Features Should Denote More Granular Subscription Tier"
It would be useful if, for a given feature, the subscription tier was listed in documentation.

For example, consider: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-pinned-query.html

The "x-pack" icon tells me that this is under Elastic license - but I have no sense for: is it Basic / Gold / Platinum / Enterprise?

cc: @gingerwizard @zuketo

[2020-01-15 21:58] lcawl commented on #1702
If you click that "x-pack" icon, it takes you to the Subscriptions page, which is our source of truth.

[2020-01-24 14:46] ezimuel opened #1709 "Add an HTML anchor <a> with the digest of the code example"
This is a proposal to add an HTML anchor `<a name="36818c6d9f434d387819c30bd9addb14">` with the digest of the code examples in the [Elasticsearch Reference](https://www.elastic.co/guide/en/elasticsearch/reference/master/index.html) documentation.

![anchor_example_digest](https://user-images.githubusercontent.com/475967/73077006-93594c00-3ebf-11ea-9a84-882536cda96e.png)

Right now, it's very diffi

[2020-01-24 18:00] jrodewig opened #1710 "[DOCS] Make GH issue link required for experimental/beta macros"
We add the [`experimental::[]` and `beta::[]` ](https://github.com/elastic/docs#experimental-and-beta) macros to Elasticsearch documentation not ready for GA. However, these tags don't currently indicate what steps are needed to get a feature to GA.

To solve this, we can require a related GH issue link for any `experimental::[]` or `beta::[]`  tag. We should investigate whether that requirement i

[2020-01-24 18:08] jrodewig commented on #1710
I added a "To do"  section to this issue based on my research.

This confirms requiring the links  *is* feasible, but it'll take a non-trivial development effort. However, I'm not an experienced developer so there might be more optimal solution paths I'm not aware of.

I've also transferred this ticket to the elastic/docs repo, where most of the work will need to take place. While the Elasticsearc

[2020-01-24 18:25] debadair commented on #1709
The doc build uses the digest to look up and inject the client examples, so it shouldn't be hard to also add an anchor.

https://github.com/elastic/docs/tree/master/resources/asciidoctor/lib/alternative_language_lookup

[2020-01-27 22:27] lcawl opened #1713 "Build failure for checklists"
The following functionality does not seem to work in our documentation at this time:
https://asciidoctor.org/docs/user-manual/#checklist

A simple example like this:
[code]

Fails with errors like this:
[code]

[2020-01-28 18:55] lcawl opened #1714 "Meta-issue: Improving testing for code examples"
The code snippets in the documentation in the elasticsearch repo are tested as described in https://github.com/elastic/elasticsearch/tree/master/docs#snippet-testing

This meta-issue tracks out-standing issues with that functionality in the hopes that it can be fixed and rolled out to other repos as well:

1. Some APIs return “xxx doesn’t exist in the rest spec” errors when you try to use them in

[2020-01-30 03:44] lcawl opened #1718 "Build failure for footnotes"
Footnotes should work in our documentation as described in https://asciidoctor.org/docs/user-manual/#user-footnotes

The following works fine:

[code]

However when I try to use footnotes in a list, the build fails.  For example:

[code]
... results in an error like this when I build the Elasticsearch Reference:
[code]

[2020-01-30 13:58] #1709 closed

[2020-01-30 14:15] #1713 closed

[2020-01-31 10:00] ezimuel commented on #1709
Thanks @nik9000 for https://github.com/elastic/docs/pull/1717

[2020-01-31 23:05] nyurik commented on #631
This should be fixed by https://github.com/elastic/docs/pull/1719

[2020-02-04 13:15] ezimuel opened #1721 "Add block id asciidoc reference for code example in alternative_report.json"
I'm building a report to track the code examples for each client repositories (see https://github.com/elastic/clients-team/pull/114). I would like to have the link to the Elastic documentation where the code example is available. Now, we have the anchor link with the digest (thanks to https://github.com/elastic/docs/pull/1717) but I don't have the HTML page name.
I'm using the [alternatives_report

[2020-02-04 19:42] lcawl commented on #1713
@nik9000 A reviewer pointed out that our implementation of checkboxes contains extra bullets in front. For example:

![image](https://user-images.githubusercontent.com/26471269/73780423-4ee17200-4743-11ea-913a-265a411fa5d8.png)

... which doesn't match the rendering examples in https://asciidoctor.org/docs/user-manual/#checklist

Is this something we've added accidentally?  If a new issue is requi

[2020-02-05 14:56] nik9000 commented on #1721
This *should* be possible, with our migration away from docbook. But it is a bit more difficult than you'd expect.

[2020-02-05 16:40] alaa-mallah opened #1722 "Fix doc for Cloud Enterprise Documentation / Planning your installation - Load Balancers"
URL referring where doc fix is required:
https://www.elastic.co/guide/en/cloud-enterprise/current/ece-load-balancers.html

On this paragraph:

Load balancers must be configured to strip inbound X-Forwarded-For headers and to replace them with the client source IP as seen by the load balancer. This is required to prevent clients from spoofing their IP addresses. Elastic Cloud Enterprise uses X-Forw

[2020-02-05 16:57] alaa-mallah opened #1723 "Fix doc for Cloud Enterprise Documentation / Planning your installation - Prerequisites - Software"
URL referring where doc fix is required:
https://www.elastic.co/guide/en/cloud-enterprise/current/ece-prereqs-software.html

On below line from our doc
Red Hat Enterprise Linux 7 or **later** (RHEL 7), Limitations | 1.131

Per our support matrix we support RHEL 7 but above line can be interpreted that we support Redhat 7 or later which might be interpreted as version 8 as well

[2020-02-05 17:35] #1629 closed

[2020-02-20 12:44] russcam commented on #210
Circling back on this. We have released a small PowerShell module that provides a similar experience to curl for PowerShell and PowerShell Core (cross-platform):

https://www.powershellgallery.com/packages/Elastic.Console/7.6.0-rc1

It uses `Invoke-WebRequest` under the covers but hides a lot of the complexity. In addition, it provides API path and method autocompletion based on the REST API specs

[2020-02-20 15:38] chriscressman opened #1739 "Consolidate Enterprise Search books within docs index"
Within the docs index page, Enterprise Search (formerly Swiftype) books are presented under two separate headings (Swiftype and Enterprise Search):

![Screenshot from 2020-02-20 10-29-45](https://user-images.githubusercontent.com/362928/74949859-4d16e000-53cc-11ea-85df-9dc3302fb5ab.png)

This is misaligned with Elastic's marketing of these products, which all fall under Enterprise Search now.

Con

[2020-02-20 15:39] chriscressman commented on #1739
Requested by @DianeTetrault

[2020-02-20 20:55] #1739 closed

[2020-02-21 16:39] nik9000 commented on #1407
Closed by #1533.

[2020-02-22 00:08] debadair opened #1743 "There's no link from the 7.5 version pages to the equivalent 7.6 version pages"
From @monfera

![image](https://user-images.githubusercontent.com/362578/75081377-cfce9680-54c3-11ea-9efb-cca344a4438b.png)

I click "current release documentation" and it lands me on 7.6... but it's the ToC. This issue has persisted for years and may diminish from the image of our product quality to an extent I'm not qualified to judge.

Note: This was originally opened against our search impleme

[2020-02-22 00:22] debadair commented on #1743
The banners are standard boilerplate that's inserted automatically on each page by the doc build. The "current release documentation" link is relative to the book, but is not "page aware".

The version picker *is* page aware and enables users to flip to the same page in the current version, if it exists.

Depending on how we handle this messaging in the new design, we could either make the links p

[2020-02-26 11:32] HermitStudio opened #1750 "Typo in "Chunking in the right place" section"
I noticed a small typo when reading the "Chunking in the right place" section.

In the line:

I assume "mot" should be "most".

FYI: My name is Corrie Allan :)

[2020-02-26 11:40] HermitStudio opened #1751 "Typo in "Adding new docs or new branches" chapter"
I saw a typo on the "Adding new docs or new branches" chapter.

In the line:

I assume we can drop one "like".

Corrie

[2020-02-26 12:15] HermitStudio opened #1752 "Link example describes the link text incorrectly"
On the chapter: guide/linking.html aka "Linking," the section "Internal links" has the following sentence:

However, in the bullet of links above this sentence, the note-id link text is "Linking:"

<img width="768" alt="Screen Shot 2020-02-26 at 13 08 50" src="https://user-images.githubusercontent.com/3171101/75343658-39bab780-5899-11ea-8423-e6a846c73057.png">

The sentence should reflect the corr

[2020-02-26 12:27] HermitStudio opened #1753 "Incorrect indentation in "Bullet points" section"
In the "Lists" chapter (guide/lists.html), there in an incorrect indentation in the rendered example.

In the code you have:

[code]

However, in the rendered example both sub-points appear on the same indentation level and they both have the same name (the last bullet should be "Sub-sub-point"):

<img width="778" alt="Screen Shot 2020-02-26 at 13 22 53" src="https://user-images.githubusercontent.

[2020-02-26 12:41] HermitStudio opened #1754 "Hover text on an (added) release doesn't show text"
In the "Inline notifications" section of the "Additions and depreciations" chapter (guide/changes.html), there is an issue with the rendering (at least locally in Chrome on a mac).

In the image below, the hover text should be "Replaces `foo.baz`", however, it shows an empty box. This issue is also present when there is no text provided as well:

---

<img width="746" alt="Screen Shot 2020-02-26 a

[2020-02-26 13:44] alaudazzi commented on #1750
@HermitStudio can you provide the HTML page where you noticed the typo?

[2020-02-26 13:49] alaudazzi commented on #1751
@HermitStudio can you provide the relevant HTML page?

[2020-02-28 17:17] alaudazzi commented on #1723
Fixed in [#51144](https://github.com/elastic/cloud/pull/51144).

[2020-02-28 17:17] #1723 closed

[2020-03-02 04:37] codebrain opened #1760 "Line counting issue in alternatives_report json creation"
In the current (2nd March 2020) alternatives report: https://raw.githubusercontent.com/elastic/built-docs/master/raw/en/elasticsearch/reference/master/alternatives_report.json

It shows that there are two examples attributed to the same line number 30:

[code]

The issue presents from this file:

https://github.com/elastic/elasticsearch/edit/master/docs/reference/setup/restart-cluster.asciidoc

Th

[2020-03-02 18:43] eskibars commented on #210
cc @sethpayne

My biggest concern is that it requires another piece of software to install.  That was one of the reasons I was thinking about doing this via a built-in command (vs, e.g. asking them to download curl for Windows).

[2020-03-06 00:04] jonasll commented on #229
PR https://github.com/elastic/docs/pull/1761 closes this issue once merged.

[2020-03-06 00:07] jonasll commented on #126
I couldn't reproduce this, closing for sanity.

[2020-03-06 00:07] #126 closed

[2020-03-06 08:27] szabosteve opened #1765 "[DOCS] Enable support for mathematical formulae in docs"
At the moment, mathematical formulae added in Asciidoc are not rendered correctly in the HTML output.

For example, `sum_(i=1)^n i^3=((n(n+1))/2)^2` is rendered as you can see here:
<img width="197" alt="Screenshot 2020-03-06 at 9 00 31" src="https://user-images.githubusercontent.com/22324794/76063989-14a90180-5f89-11ea-996b-82ee572847b1.png">

instead of this:
<img width="183" alt="Screenshot 202

[2020-03-06 08:40] szabosteve commented on #336
@debadair Can we add "Enable support for mathematical formulae" under "Rendering"? I've already opened an issue: https://github.com/elastic/docs/issues/1765

[2020-03-07 11:18] jureaky opened #1767 "--resource [path] recognized as relative path when building Elasticsearch docs in doc_build_aliases.sh"
**OS: Ubuntu 18.04**
**Elasticsearch version: master**

I tried to build Elasticsearch docs using the `docbldes` alias made in `doc_build_aliases.sh`.
I set **$GIT_HOME=/home/juhan**, which is my home directory.
The problem is `--resource` option recognizes the given path as a relative path.
Therefore the command only worked when I executed in the directory which contains `elasticsearch` directory

[2020-03-09 17:11] lcawl commented on #1767
I think what you describe is expected behaviour.  Please see the comment about setting $GIT_HOME in https://github.com/elastic/docs/blob/master/doc_build_aliases.sh:

[2020-03-10 00:21] debadair commented on #1114
We don't, today, have a way to customize the landing pages in this way, or automatically overwrite the generated pages with hand-built ones. The doc workgroups have been discussing revamping the landing pages & we very much want to get there.

As a stop-gap, adding on to the build & publishing process to overwrite select pages with hand-curated ones doesn't seem like it would be terribly difficult

[2020-03-11 14:03] jureaky commented on #1767
Thank you for your reply.
I think it was just a temporary error. Now it works well in any directory ! :)

[2020-03-11 14:09] jureaky commented on #1767
just FYI, the link `https://github.com/elastic/x-pack/blob/master/README.md` in the comment about setting $GIT_HOME in https://github.com/elastic/docs/blob/master/doc_build_aliases.sh is broken.

[2020-03-11 15:35] lcawl commented on #1767
Thanks, I've removed that link via https://github.com/elastic/docs/pull/1771

[2020-03-11 15:35] #1767 closed

[2020-03-11 19:20] #332 closed

[2020-03-12 18:27] debadair opened #1774 "Mechanism for shared glossary entries (and other content)"
The Stack Glossary consolidates definitions from other repos (notably the Elasticsearch repo), but reusing definitions across other books would introduce additional dependencies that we want to avoid.

This is relatively static content that we want to curate, so we *could* put definitions in the docs repo. Versioning could be addressed by what definitions are included in the versioned docs. Deprec

[2020-03-13 08:07] russcam commented on #210
I share your concern. A problem in providing `Invoke-WebRequest` though is that reading the content of the response is different depending on whether PowerShell or PowerShell Core is used, as the underlying implementation uses different .NET types; See

https://github.com/elastic/powershell/blob/04e906d910004e31fb89c855873d1bd3898815a4/Elastic.Console/Elastic.Console.psm1#L833-L855

Reading the co

[2020-03-13 09:22] szabosteve commented on #1096
I close this issue because it is not relevant anymore.

[2020-03-13 09:22] #1096 closed

[2020-03-20 14:09] rwaight opened #1779 "[Docs] move `master` docs into `other versions` in the website menu"
In order to improve navigation on the [Elastic Stack and Product Documentation](https://www.elastic.co/guide/index.html) site, it would be helpful to put `master` into the `other versions` section of the navigation menu.

Currently the `master` version of the documentation is available in the main version menu on the site.  This can cause confusion when reading about capabilities and configuration

[2020-03-20 14:31] lcawl commented on #1779
Probably you could make the same case for any .x pre-release content (like 7.x branches).

[2020-03-23 16:06] cjcjameson opened #1783 "edit documentation button leads to an invalid CLA"
**Description of the problem including expected versus actual behavior**:

I found a small issue with the docs, and wanted to submit a fix ( elastic/elasticsearch#53945 ) . I saw the issue on a webpage showing the 7.6 docs, and there was an "edit" button.

I was already signed into Github, and so this brought me to a dedicated pull-request preparation page.

This is a really nice flow, except that

[2020-03-24 12:36] jrodewig commented on #1783
Transferred this to the elastic/docs repo. That's where the "Edit" link functionality is maintained.

[2020-03-31 22:14] lcawl opened #1792 "Automatic documentation builds didn't notice version changes"
Related to https://github.com/elastic/docs/issues/804

On the day of the 6.8.8 and 7.6.2 releases, I merged https://github.com/elastic/docs/pull/1778 which updates the version numbers for the documentation.

By my understanding, the purpose of listing the {version}.asciidoc in the sources section of our books (e.g. https://github.com/elastic/docs/blob/9b9488223801dce7c340b1e47c7a5f8c2ed11062/conf.

[2020-04-02 13:58] jrodewig opened #1793 "Preview link for doc build results in a 404"
The PR for elastic/elasticsearch#54581 never generated a functioning doc preview link. Instead, the preview links resulted in a 404 page.

**Jenkins console output**
https://elasticsearch-ci.elastic.co/job/elastic+docs+elasticsearch+pull-request/20218/console

**Preview link**
http://elasticsearch_54581.docs-preview.app.elstc.co/diff

As a note, this PR targeted a feature branch. However, that has

[2020-04-07 18:28] penge opened #1802 "Code snippets in the Documentation without a monospace fallback"
## 🐛 Bug Report

Code snippets in the Documentation at https://www.elastic.co/guide/index.html don't have a correct fallback font - font that would be used if none of the monospaced fonts is present. Right now, the fallback is `sans-serif`, but should be `monospace`.

## To Reproduce

Open:

- https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/client-configuration.html
- h

[2020-04-08 20:28] gtback opened #1798 "[Preview Server] Don't print what port is used"
The preview server prints a line like this:
[code]
This is wrong when the server is fronted by nginx (for instance, in the docker container).

There are some places (tests and the `build_docs` script) that look for this line, so we can't remove it entirely, but we can keep it from lying.

[2020-04-08 21:14] nik9000 commented on #743
I think we've actually finish this. I removed docbook from the docs repo entirely in January.

[2020-04-08 21:14] #743 closed

[2020-04-08 23:01] debadair opened #1801 "Add breadcrumbs markup to our doc pages"
From https://github.com/elastic/website-www.elastic.co/issues/83:

There is renewed interest in doing this to uplift our Google search results.

@AnneB-SEO can provide more flavor from the SEO perspective and broader structured data efforts.

[2020-04-09 12:49] jrodewig commented on #1802
Transferring this to the [elastic/docs](https://github.com/elastic/docs) repo as that's where these styles are stored. I'll work on raising a PR to address.

[2020-04-09 13:23] gtback commented on #1801
Another reference: https://developers.google.com/search/docs/data-types/breadcrumb

[2020-04-09 14:15] delvedor commented on #1802
Thanks!

cc @penge if you are wondering where the issue has been moved :)

[2020-04-09 19:48] #1802 closed

[2020-04-10 22:50] bmorelli25 opened #1805 "Kibana link checking is broken"
The Kibana link checker doesn't seem to be catching broken links.

https://github.com/elastic/docs/blob/0cee4e4715554515b2e297fe1113708ac03c9cda/build_docs.pl#L334-L399

Here's an example of a broken link: https://github.com/elastic/kibana/pull/63295.

[2020-04-11 06:48] penge commented on #1802
found the issue, thanks for handling it so quickly :)

[2020-04-13 14:14] gtback opened #1806 "Docs preview site should give more informative error message on 404 pages when branch doesn't exist"

[2020-04-13 14:20] #670 closed

[2020-04-13 14:20] gtback commented on #670
This is being tracked for cloud (the one remaining repo) in another place.

[2020-04-15 09:12] codebrain commented on #1114
Current redesign for docs is in progress, preview below.

![image](https://user-images.githubusercontent.com/148974/79314306-e681ee80-7f44-11ea-8a7a-3bc5559bba5d.png)

Clicking on "Elasticsearch" on left nav opens the Elasticsearch landing page, and scrolling down we see clients (highlighted in green box):

![image](https://user-images.githubusercontent.com/148974/79314586-32349800-7f45-11ea-9541-

[2020-04-15 10:23] Adrian-J commented on #1338
Updating this thread for visibility. The prototype is [here](https://docs-74e930.webflow.io/).

[2020-04-15 10:28] Adrian-J commented on #1114
@codebrain The grey labels in the nav are not clickable. These are there to group the pages in a logical way and improve the navigation. If you'd like to have a landing page for clients I recommend adding another link at the top of the list. Let me know if I can help in any way. I'm happy to prototype this landing page if you have a general outline in mind.

[2020-04-15 15:12] gtback commented on #1114
A big features of the redesign is that there will be persistent navigation on the left side of the screen. So, pages like [this one](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/index.html) will need to just go away IMO. I think the following pages can be used as the "landing page" for each of the clients (and of course the client developers can modify them as needed).

*

[2020-04-15 21:11] dedemorton commented on #1338
Can we update the observability page in this design to reflect the navigation changes that @bmorelli25 and I made in our outline?  It would be nice to see how the nav looks at a high level.

[2020-04-15 21:12] bmorelli25 commented on #1338
@dedemorton I shared the updated nav with Adrian earlier today. He's going to update it for us.

[2020-04-16 07:06] philkra commented on #1114
I think we lost the original ask in lieu of the discussion and redesign. We would like to customise [this page](https://www.elastic.co/guide/en/elasticsearch/client/index.html) to provide shared docs and e.g. links directly to corresponding github repo. Do such landing pages still exist in the redesign and/or how can we incorporate this?

[2020-04-16 07:56] codebrain commented on #1114
@gtback  I think we ought to group like this:

* [.NET clients](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/introduction.html)
  - [Elasticsearch.Net - Low level client](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/elasticsearch-net.html)
  - [NEST - High level client](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/nest.html)

[2020-04-16 08:03] codebrain commented on #1114
My understanding from Deb is that the main landing page link (highlighted in the orange box below) would go to an "all clients" landing page:

![image](https://user-images.githubusercontent.com/148974/79430513-61620c80-800c-11ea-87ec-e5d53448c75c.png)

[2020-04-16 14:49] gtback commented on #1805
I'm only starting to understand how Kibana link checking works. @nik9000 gave me an overview this morning. It might take me a little while to wrap my head around it all.

[2020-04-23 19:03] jrodewig opened #1816 "Support glob matching for the `include` directive"
Currently, the Asciidoctor `include` directive does not support [glob matching](https://en.wikipedia.org/wiki/Glob_(programming)) for filepaths. However, there are frequently cases in which we want to include _all_ Asciidoc files in a directory.

### Example

In the [`master` branch of the Elastic Installation and Upgrade Guide](https://github.com/elastic/stack-docs/edit/master/docs/en/install-upg

[2020-04-23 21:43] gtback commented on #1816
@jrodewig would you want the files to be included in lexicographic order by filename? If so, this would be pretty easy to incorporate. Otherwise, we'd have to look for a more expressive way to indicate the order (or hope that they get globbed in the same order we want).

[2020-04-24 12:23] jrodewig commented on #1816
@gtback Lexographic order makes sense to me. In cases where people want a specific, non-lexographic order, it probably makes sense to just maintain a curated list of includes.

[2020-04-24 19:03] gtback commented on #1816
Sounds good!

[2020-04-28 16:27] dedemorton opened #1820 "Recommend a redirect strategy for docs"
We will be refactoring a lot of content in the coming months (beats, cloud, etc). Right now, our strategy for handling moved content (changed URLs) is not clear.

In the past, we've requested that the website team create redirects. Here's a [random example](https://github.com/elastic/website-www.elastic.co/issues/3841) of a request.

We also have a [legacy redirects](https://github.com/elastic/doc

[2020-04-28 16:42] alaudazzi commented on #1820
@dedemorton thank you for raising this issue. This is going to impact a major doc refactoring that is currently ongoing on the Cloud ECE docs.

[2020-04-28 18:09] dedemorton commented on #1357
Note that I've created a newer issue here so I'm closing this one: https://github.com/elastic/docs/issues/1820

[2020-04-28 18:09] #1357 closed

[2020-04-28 18:09] dedemorton commented on #1820
Also see the related issue: #1357

[2020-04-28 18:23] bmorelli25 opened #1821 "Update elasticsearch-ci/docs to do a full rebuild in the docs repo"
Cross document links between differently versioned books are too easy to break at release time. I did in the APM repos during the 7.6 release, and it's happening right now with the ECK 1.1 release.

A potential solution would be to change the `elasticsearch-ci/docs` check, in this repo only, to default to a full rebuild: `@elasticmachine, run elasticsearch-ci/docs rebuild`. This change will ensure

[2020-04-28 18:33] debadair commented on #1820
Yes, this is a major issue for restructuring content. The current process (request redirects from the web team) has led to pain because we have no insight into what redirects already exist. We've ended up with circular redirects and assorted broken-ness. The redirects file in the docs repo was Nik's attempt at bringing some order to the chaos, but was never adopted by the web team & the folks at R

[2020-04-28 18:39] debadair commented on #1820
Also, simply keeping track of everything that has moved around is a chore. It would be really helpful to have a new & deleted anchor report generated for each PR.

[2020-04-29 16:42] gtback commented on #1820
This is exactly the type of feedback which helps me prioritize what I'm working on!

[2020-04-29 19:08] nrichers commented on #1821
@gtback just to add a bit of context: Even if the full builds require more hardware resources or will take longer, NOT having these things break on release days with a simple build change would be very beneficial.

For the ECK 1.1 release, at least four people ended up spending time on this problem and I lost the better part of half a day from it*, not to mention the added stress that comes from b

[2020-04-29 20:37] gtback commented on #1779
This can be done on a per-book basis by changing the `live:` key in conf.yaml. For the ~50% of books that are versioned with the stack (see the [`stacklive` variable](https://github.com/elastic/docs/blob/master/conf.yaml#L60)`, this would happen for all of them at once, though in an edge case we could make a one-off exception for a single book.

Alternatively, we could change the order so the "cur

[2020-04-29 21:24] dedemorton commented on #1779
There's a similar issue where we started a discussion this here: https://github.com/elastic/docs/issues/349

[2020-04-29 21:55] bmorelli25 commented on #1820
I hate to link to a private Slack conversation in a public repository, but I think it's necessary to illustrate how big of a problem this is: [Slack 🧵](https://elastic.slack.com/archives/C0JF80CJZ/p1588193426307000?thread_ts=1588192809.306300&cid=C0JF80CJZ). We should remember to clean up the broken links that already exist with whatever solution we choose to move forward with.

[2020-04-30 14:48] gtback commented on #1821
It seems like there's an underlying problem with not doing full cross-book link checking when the "current" version of a book changes. Doing full rebuilds for every PR to this repo would be an intermediate solution (which would cause links to get checked), but I'd also like to fix the underlying problem.

[2020-04-30 14:50] gtback opened #1823 "Check that all cross-book links are checked with "current" version changes."
Fix the underlying problem described in #1821, then revert the change done as an intermediate solution.

[2020-04-30 15:57] bmorelli25 commented on #1058
Yes, this looks fixed to me as well.

[2020-04-30 15:57] #1058 closed

[2020-04-30 15:57] gtback commented on #991
I think this can be closed now, since #1058 is no longer an issue.

[2020-04-30 15:57] #991 closed

[2020-04-30 18:20] gtback commented on #1754
Thanks, @HermitStudio. It looks like the issue is that the box extends outside the bounds of the table it's inside, so gets cut off. Seems like a CSS fix is needed. I couldn't figure it out in about 5 minutes of playing around it, but leaving this note to give a head start to anyone who comes later (including myself).

[2020-04-30 18:34] gtback commented on #1752
I actually don't know if this is true anymore in AsciiDoctor, so I'm just going to remove that sentence. Thanks @HermitStudio.

[2020-04-30 18:42] gtback commented on #1779
Also related: #1480

[2020-04-30 18:50] #1750 closed

[2020-04-30 18:50] #1751 closed

[2020-04-30 18:50] #1752 closed

[2020-04-30 18:50] #1753 closed

[2020-04-30 18:51] gtback commented on #1750
Thanks for pointing this out @HermitStudio

[2020-04-30 18:51] gtback commented on #1751
Thanks for pointing this out @HermitStudio

[2020-04-30 18:51] gtback commented on #1753
Thanks for pointing this out @HermitStudio

[2020-04-30 19:14] debadair commented on #1820
Agreed. The redirect appendices are a patch for a broken process. Beyond the issue of ending up with zombie pages that never go away, the manual process simply doesn't scale for major reorganization of existing content. We need to be able to automatically detect changes that require redirects, and manage the redirects in a way that doesn't require multiple spreadsheets and teams.

[2020-04-30 19:26] dedemorton commented on #349
Closing this in favor of the later issue: https://github.com/elastic/docs/issues/1480

[2020-04-30 19:26] #349 closed

[2020-04-30 19:36] bmorelli25 commented on #1405
This appears to be fixed.

[2020-04-30 19:36] #1405 closed

[2020-04-30 20:19] debadair commented on #249
A number of these things have been addressed:

* Build docs split off to the built-docs repo
* Asciidoctor migration #743
* CI checks are in place to run builds & link checks on doc PRs and conf.yaml changes.
* Can build all and mute link checking from Jenkins

Closing this issue in favor of individual issues for the remaining pieces:
* Incorporate validation checks  #1336
* Generate book-level li

[2020-04-30 20:19] #249 closed

[2020-04-30 20:30] debadair commented on #253
Most of our docs now use the shared stack versions: https://github.com/elastic/docs/tree/master/shared/versions/stack.

@dedemorton It looks like Beats is still an outlier?

@nrichers What about Cloud?

Having one place (docs/shared/versions/stack) to update makes adding versions pretty easy, so not sure how important automating it is any more?

[2020-04-30 21:00] dedemorton commented on #253
Beats is using the shared version file for docs, but we do need to bump the version for other reasons (the go files use the version info, too). AFAIK, that's not changing.

[2020-04-30 21:04] dedemorton commented on #253
@bmorelli25 I think APM is in the same boat as Beats, right?

[2020-04-30 21:05] dedemorton commented on #804
@bmorelli25 Can I close this in favor of Deb's issue, which was created before this one? https://github.com/elastic/docs/issues/253

[2020-04-30 21:46] #804 closed

[2020-04-30 21:53] #337 closed

[2020-04-30 21:54] debadair commented on #795
This is technically possible, but the xpack "bug" is clipped when rendered with the current CSS.

[2020-04-30 21:57] bmorelli25 commented on #253
@dedemorton It might be worth looking into again. In APM Server we were able to remove the dependency on the docs for Beats versioning.

[2020-04-30 22:04] debadair commented on #1324
The  "live branches" configuration solves this problem for sunsetting old versions: #1421

More granualar control over injecting meta tags is something that would still be useful.

[2020-04-30 22:04] #1324 closed

[2020-04-30 22:19] #1407 closed

[2020-04-30 22:24] debadair commented on #1419
The changes have been live for some time & support seems satisfied with the ability to access the drop downs.

The search issues

[2020-04-30 22:24] #1419 closed

[2020-04-30 22:28] debadair commented on #1743
Leaving this open as improving the user experience here is related to improving our management of redirects (#1820).

[2020-04-30 22:39] debadair opened #1825 "Add a check for new and deleted pages"
Having a CI check that generates a report would be helpful as we're trying to track and wrangle redirects--at least we wouldn't have to track the changes manually.

Ultimately, knowing what the diffs are could enable us to manage redirects in a more automated way, and do smarter things when users switch between versions and the content has moved, or when they click the "latest version link" in the

[2020-04-30 22:39] debadair commented on #17
Replaced by: #1825

[2020-04-30 22:39] #17 closed

[2020-04-30 22:45] debadair commented on #10
The publishing mechanism for blog posts is now firmly established.

[2020-04-30 22:45] #10 closed

[2020-04-30 22:54] debadair opened #1826 "Make expandable section choices sticky"
From @dakrone:

If you expand a section of the documentation (through our + expandable buttons), navigate to any of the sub pages, then go back in browser history, all the expansions are again collapsed (making it very hard to pick up where you left off).

This is related to the larger issue of maintaining context and providing a path back as users navigate through the docs.

[2020-04-30 22:58] nrichers commented on #253
@debadair **Elasticsearch Service**, **Elasticsearch Add-On for Heroku**, and **Elastic Cloud Enterprise** all use one of the versioned files in shared/versions/stack/, though we could try using shared/versions/stack/current.asciidoc. I'll open a PR in `master`.

**Elastic Cloud on K8s** uses shared/versions/stack/current.asciidoc, so no change needed.

**Elastic Cloud Control** really only cares

[2020-04-30 23:01] debadair commented on #336
Closing in favor of tracking the individual issues on a project board. See also  #1340 and #1343.

[2020-04-30 23:01] #336 closed

[2020-04-30 23:25] debadair commented on #1702
This is information that we want to maintain in a single location. It is important from a licensing standpoint that it is correct, and maintaining granular subscription level information in the docs would spread the information across many books and repos.

[2020-04-30 23:25] #1702 closed

[2020-04-30 23:26] debadair commented on #1452
Duplicate of #https://github.com/elastic/docs/issues/324

[2020-04-30 23:26] #1452 closed

[2020-04-30 23:29] debadair commented on #1165
Fixed.

[2020-04-30 23:29] #1165 closed

[2020-04-30 23:31] debadair commented on #1820
Relates to: #1820

[2020-04-30 23:31] debadair commented on #656
Relates to: #1820

[2020-05-01 00:09] debadair commented on #655
With the Asciidoctor migration complete, it is now possible to use the `keywords` and `description` attributes to inject metadata for a page. We can also inject custom attributes such as the robots meta tag using docinfo files:

1. Create a `docinfo.html` file that contains the meta tag:

    ```<meta name="robots" content="noindex,nofollow”/>```

2. Add the docinfo attribute to the page. For exam

[2020-05-01 00:09] #655 closed

[2020-05-01 00:10] debadair commented on #656
Closing in favor of the more recent discussion.

[2020-05-01 00:10] #656 closed

[2020-05-01 00:15] debadair commented on #647
Closing this since we've completed the migration. The separate issue about disabling auto-IDs should remain open.

[2020-05-01 00:15] #647 closed

[2020-05-01 00:22] debadair opened #1827 "Enable publishing a subset of the docs"
Publishing shouldn't be an all-or-nothing affair. For example, problems with the stack docs on master or 7.x shouldn't block publishing the Cloud docs.

Relates to: https://github.com/elastic/docs/issues/559

Supercedes relevant parts of: #249

[2020-05-01 00:25] debadair commented on #518
Relates to: #253

(I think we are mostly there.)

[2020-05-01 00:27] #483 closed

[2020-05-01 00:29] debadair commented on #482
We can now inject metadata with the `keywords` and `description` attributes, and custom metadata via a docinfo.html file. Between that and our "live" version changes, I think we have the mechanism in place. (Tuning/rearchitecting search is a separate issue.)

[2020-05-01 00:29] #482 closed

[2020-05-01 00:30] debadair commented on #421
Done: https://github.com/elastic/docs/blob/master/README.asciidoc#building-documentation

[2020-05-01 00:30] #421 closed

[2020-05-01 00:31] #387 closed

[2020-05-01 00:32] #415 closed

[2020-05-01 00:34] debadair commented on #327
Superseded by: https://github.com/elastic/docs/issues/1743

[2020-05-01 00:34] #327 closed

[2020-05-01 00:36] debadair commented on #218
Fixed by the Docker-based air-gapped docs. #1223

[2020-05-01 00:36] #218 closed

[2020-05-04 17:21] jrodewig opened #1828 "Explore moving some `conf.yaml` configuration over to their respective repos"
### Problem
https://github.com/elastic/elasticsearch/pull/56067 relocates some integration tests within the ES repo. Some of these tests are also used in our docs.

The docs CI test for this PR failed because:
1)  The docs build was unaware of the new directory used to host the integration tests.
2) The docs build was expecting a file in the old directory for the tests. This directory had been rem

[2020-05-04 19:25] #1821 closed

[2020-05-05 15:09] gtback commented on #1828
Was it because of the new directory existing, or because it was expecting the old (now missing) directory to be there? I can't see the builds anymore to look at the logs. I think there's a lot we can do, including better error messages.

On the broader issue, I'm OK with the idea of moving branch-specific information from `conf.yaml` into the source repo, so it can be updated along with the corres

[2020-05-05 15:22] jrodewig commented on #1828
Good question. We saw both.

We need to both exclude the old directory and add the new directory for impacted branches.
Failure to do both results in an error. I'll update the original description to clarify.

[2020-05-05 21:48] gtback commented on #1743
Each version of each book (for example, the 7.5 Elasticsearch Reference and the 7.6 Elasticsearch Reference) are built independently, so there's currently no way for one page to know that the other versions have an equivalent page, at build time. The version dropdown is smart enough to figure out when the equivalent page exists or not, so it should be pretty straightforward to make the banner at t

[2020-05-07 18:20] lcawl opened #1832 "Differentiate tab icon for documentation"
The tab icon for Kibana was recently changed (https://github.com/elastic/kibana/issues/64695) so that it looks almost identical to the documentation tab icon:

![image](https://user-images.githubusercontent.com/26471269/81330114-7e5e8e00-9054-11ea-9685-0fa47db48f0c.png)

In this example, the first tab is Kibana. The second and fifth or documentation.

While we're reconsidering the design and locat

[2020-05-07 18:29] lcawl commented on #1793
Same is true for https://github.com/elastic/kibana/pull/65591

[2020-05-07 18:45] gtback commented on #1832
We'll need someone to decide on a different logo. We could also prefix all the page titles with "Docs", but I think that violates generally-accepted best practices for web design.

[2020-05-07 19:02] lcawl opened #1834 "Previews do not recognize which books are affected by image updates"
If a PR affects on images (e.g. https://github.com/elastic/elasticsearch/pull/56359), the diff only lists the updated images. It does not include links to any of the books/pages that are affected.

Is this a known limitation with the diffs?
If it's not something we can fix, perhaps we can add a warning or recommendation that manual action is required to find and review the final changes?

[2020-05-07 21:12] gtback commented on #1793
This one resulted in a `INFO:build_docs:No changes to push` (perhaps because everything in that PR is commented out?)

[2020-05-07 21:18] gtback commented on #1834
Yep, if the image files are changed (but not renamed), then this won't result in any changes to the HTML files, so they won't show up in the diff.

We could probably figure out all HTML pages that include the images that have changed and display that in addition on the diff page.

[2020-05-07 21:31] lcawl commented on #1834
If that's feasible, I think that would be great.

[2020-05-07 22:00] lcawl commented on #1793
You're right, nevermind!  No other pages are using those tagged sections yet, so they wouldn't pick up those changes.

[2020-05-07 23:06] dedemorton commented on #260
@gtback This is one of the enhancements that we need for solution-based docs.

@bmorelli25 Created a basic prototype that demonstrates the kind of mechanism we need:
https://github.com/elastic/apm-server/issues/3556

Brandon recently pointed me towards an asciidoctor extension that adds tabs, but I don't know how difficult it would be to use this in our current build environment.

* https://stacko

[2020-05-08 14:59] gtback commented on #1793
@jrodewig It looks like that build has expired (or at least, it's not coming up for me), probably because it's more than a month old. I'm going to close this, but feel free to reopen it if there's another time this happens, or just make a new GitHub issue.

Sorry for not noticing this at the time.

[2020-05-08 14:59] #1793 closed

[2020-05-08 19:53] eddieturizo opened #1836 "Provide dark/light mode for our docs"
It would be nice to have a dark/light mode toggle option across our docs.

[2020-05-08 21:37] gtback commented on #260
@dedemorton Part of the reason for the complexity of the current approach for code snippets is that content is sourced from other repos (generally, Elasticsearch client libraries). Would that be the case here, or would it be (like in @bmorelli25's example) all drawn from the current repo and just using tabs as a visual/UX improvement?

I don't know we could use that extension directly, because it

[2020-05-08 21:48] gtback commented on #1836
Thanks, @eddieturizo. I can imagine a lot of different ways this could be done, from just swapping the background and text colors to having separate images, etc. We'll also want to make sure that any content we include (such as the nav bar and footer) respond appropriately as well.

[2020-05-08 22:25] dedemorton commented on #260
For Beats, everything lives in one repo right now. That might change as we roll out some of the content reuse we've discussed.

So ... did a little experimenting yesterday and came up with a prototype for Beats based on the work that @bmorelli25 did for APM:  My changes are mixed in with other content changes that are in progress. And I offer the disclaimer that I'm not a web developer, but here i

[2020-05-11 20:07] gtback commented on #118
@elasticdog is this relevant anymore or can we close it?

[2020-05-11 20:10] gtback commented on #184
`--upgrade` is no longer a supported (probably since `built-docs` got split out?)

[2020-05-11 20:10] #184 closed

[2020-05-11 20:12] gtback commented on #120
It looks like there's an `x` to close this window now.

[2020-05-11 20:12] #120 closed

[2020-05-11 20:14] gtback commented on #148
It looks like the CSS has been updated to avoid this problem.

[2020-05-11 20:14] #148 closed

[2020-05-11 20:16] gtback commented on #173
Probably related to #148. Either way, this doesn't seem to be a problem anymore.

[2020-05-11 20:16] #173 closed

[2020-05-11 20:19] gtback commented on #613
I confirmed this is still an issue.

[2020-05-11 20:44] gtback commented on #220
Asciidoctor has an [`attribute-missing` option](https://asciidoctor.org/docs/user-manual/#handle-missing-or-undefined-attributes) to control what we want to do. It seems like the Asciidoctor default is to leave the reference intact (`skip`), so it should be easier to notice them. The default `asciidoc.py` behavior was to drop the entire line, which of course is not desirable.

There is [code to wa

[2020-05-11 20:55] gtback commented on #325
I'd have to think more about how to do this. Right now the "deprecated" admonition is just a block that can go anywhere on any page.

Would it be possible to just add an attribute to the section header (something like `notoc`)? I feel like I've seen something like that, but can't find it now.

[2020-05-11 20:58] gtback commented on #284
This is possible, especially as we move to a dynamic backend for hosting the docs. Given the level of effort, though, I'm curious if this is still needed, or if release notes have improved since then?

[2020-05-11 21:00] gtback commented on #356
@zuketo Obviously this would be valuable, but given the level of effort, is this a priority? If so, we should probably break this down into specific issues that can be tracked and completely on their own (this is more of a "meta" issue).

[2020-05-11 21:02] gtback commented on #379
Hi! This seems to be a question about Elasticsearch itself, so if the documentation isn't clear, I'd recommend asking on [the discussion forums](https://discuss.elastic.co/) or in the Elasticsearch repo itself.

[2020-05-11 21:02] #379 closed

[2020-05-11 21:04] gtback commented on #384
This seems like a reasonable request 😉

[2020-05-11 21:27] elasticdog commented on #118
Nice archeological dig @gtback! This can definitely be closed out now, as the whole docs architecture from the time this was written no longer exists.

[2020-05-11 21:27] #118 closed

[2020-05-11 21:29] gtback commented on #636
I don't see a point to deliberately breaking Python 2 support in `build_docs`, since all the script does is wrap a Docker command. The point of that script (and its way of wrapping Docker) is to make it as easy as possible for anyone (with Python and Docker installed) to build the docs. I can see adding documentation that only Python 3 is "officially" supported (since Python 2 is EOL). I'm also op

[2020-05-11 21:36] lcawl commented on #220
I can confirm that unresolved attributes are now left in the docs (e.g. https://github.com/elastic/elasticsearch/pull/44249).  This is better than the previous behaviour but anything we can do to make it even more obvious when this happens would be great!

[2020-05-12 07:25] robin13 commented on #284
I would say given the number of issues addressed in each release, a top-10 is more pertinent now than ever.

[2020-05-12 12:42] nik9000 commented on #636
I'm quite ok keeping python2 support in `build_docs`. Everything shouldn't have it. But I think that is already done now that `a2x` is gone.

[2020-05-12 13:57] gtback commented on #636
Closing this since there's nothing immediately actionable.

[2020-05-12 13:57] #636 closed

[2020-05-12 19:35] gtback commented on #486
Hey @monfera, just checking if this was still an issue or if it's since been resolved. `canvas.elastic.co` seems to just be a redirect to https://www.elastic.co/guide/en/kibana/current/canvas.html.

These pages all seem to exist now:
- https://www.elastic.co/guide/en/kibana/6.5/canvas-common-functions.html#_filterrows
- https://www.elastic.co/guide/en/kibana/6.5/canvas-tinymath-functions.html

I k

[2020-05-12 19:54] gtback commented on #454
Hi @larry-hernandez. I believe hovering over the icon shows a tooltip explaining the field type. If that's not sufficient, I'd open an issue in the kibana repo, which is where this would actually get fixed.

[2020-05-12 19:54] #454 closed

[2020-05-12 19:55] gtback commented on #265
This appears to have been resolved the way I would have expected, by making multiple callouts with the same number.

[2020-05-12 19:55] #265 closed

[2020-05-12 19:56] gtback commented on #501
Hi @TomonoriSoejima. If this is still a problem, please open an issue in the beats repo, where this will actually get fixed.

[2020-05-12 20:02] zuketo commented on #437
Closing, I think a few other projects / issues will help here.

[2020-05-12 20:02] #437 closed

[2020-05-12 20:04] gtback commented on #650
Related: #356

[2020-05-12 20:07] monfera commented on #486
Thanks for checking @gtback - indeed these pages show up now, and probably have for a long while

[2020-05-12 20:07] #486 closed

[2020-05-12 20:08] lcawl commented on #497
This issue was addressed in https://github.com/elastic/elasticsearch/pull/42812 and subsequent fixes to this content.

[2020-05-12 20:08] #497 closed

[2020-05-12 20:11] gtback commented on #554
I'm not sure if this was an asciidoc.py thing, but I can't reproduce this when adding the example above to README.asciidoc in this repo. Maybe it was fixed in Asciidoctor? @lcawl can you check and see if this is still happening?

[2020-05-12 20:18] gtback commented on #1823
This might be related to #951.

[2020-05-12 20:25] lcawl commented on #554
Agreed, I can't replicate this problem anymore either.

[2020-05-12 20:25] #554 closed

[2020-05-12 20:30] gtback commented on #641
I'm also not able to find any examples of this with some fancy grepping, so I'm going to close this. We can re-open if it happens again.

[2020-05-12 20:30] #641 closed

[2020-05-12 20:37] gtback commented on #755
@lcawl is this still a problem? It looks like the example you're pointing to (https://www.elastic.co/guide/en/elastic-stack/7.0/elasticsearch-breaking-changes.html) is working now. Maybe it was an asciidoc.py thing that was fixed by asciidoctor?

[2020-05-12 20:46] lcawl commented on #755
Agreed, the callouts look fine in https://www.elastic.co/guide/en/elastic-stack/7.0/elasticsearch-breaking-changes.html now

[2020-05-12 20:46] #755 closed

[2020-05-12 21:05] gtback commented on #1718
This seems like an error in our docbook compat extension for asciidoctor. The error message is pretty clear and points straight to where the error is coming from. This might be a good one for me to take a look at to get familiar with our Ruby code.

[2020-05-12 21:08] gtback commented on #1721
Yeah, we don't enforce a correspondence between the input asciidoc file and the output HTML chunk. I'll have to look into how easy it would be for the chunker to add this information to the alternatives report.

[2020-05-12 21:11] gtback commented on #1760
Thanks, @codebrain. I'll hopefully have a chance to look into this soon.

[2020-05-12 21:19] gtback commented on #1765
@szabosteve It seems like Asciidotor supports this [out of the box] (https://asciidoctor.org/docs/user-manual/#stem). Is that not working (meaning there might be something elsewhere in our build process that breaks it)?

[2020-05-12 21:41] gtback commented on #1783
Hi @cjcjameson! Thanks for taking the time to contribute to the Elasticsearch docs.

Based on my limited testing, I'm guessing that you have your email address marked as "private" [in GitHub's settings](https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/setting-your-commit-email-address). (_Which I totally understand. I do too_.) And when you have that, GitHub doesn

[2020-05-12 21:44] gtback commented on #1792
Yep! As I understand it, that's why we include those `sources` in `conf.yaml`. I'll have to look into this more.

[2020-05-12 21:54] gtback commented on #1114
@philkra sorry, I didn't read the full history of the thread. Yes, we don't have a good way to override the default "table of contents" pages, but will be exploring doing that as part of the redesign.

The alternative (if it's more urgent) would be to create a small, separate "clients" book that itself would link to the existing books, but that would require some extra redirects that we probably w

[2020-05-12 21:55] gtback commented on #1806
Related to, but separate from, #1291

[2020-05-12 21:59] gtback commented on #1816
This is probably distinct from #324, but they're similar enough that I at least wanted to link the two together.

[2020-05-12 22:01] gtback commented on #1336
This will touch on some of the same things suggested by #1045

[2020-05-13 00:07] TomonoriSoejima commented on #501
`event.action` is seen in the doc https://www.elastic.co/guide/en/beats/auditbeat/6.4/exported-fields-common.html, but not any more in the current version https://www.elastic.co/guide/en/beats/auditbeat/current/exported-fields-common.html.

Thus I think the issue is no longer relevant and it can stay closed for good!

[2020-05-13 00:07] #501 closed

[2020-05-13 07:16] szabosteve commented on #1765
@gtback

Thank you for looking into it. I just tried it again with both the [AsciiMathML](http://asciidoc.org/asciimathml.html) and the [LaTeXMathML](http://asciidoc.org/latexmathml.html) notation and none of them worked. I used the `asciimath:[]` and the `latexmath:[]` in-line macros as the documentation suggests. Am I missing something?

Maybe it is not relevant but I also noticed that the docum

[2020-05-13 14:45] gtback commented on #1783
Our CLA checker should have been able to detect this, but since the commit was force-pushed after signing the CLA, we can't investigate any further right now. I'm closing this for now, but if anyone runs into this issue again, please reopen and I'll investigate.

[2020-05-13 14:45] #1783 closed

[2020-05-13 14:49] #1722 closed

[2020-05-13 15:40] cjcjameson commented on #1783
Thanks folks!

On Wed, May 13, 2020, 7:46 AM Greg Back <notifications@github.com> wrote:

[2020-05-13 21:39] bmorelli25 opened #1839 "Add search to docs 404 page"
No matter how good our docs are, there will always be users hitting 404s. In addition to the redirect strategy being discussed in https://github.com/elastic/docs/issues/1820, can we add search to our 404 page?

As an example, [here's](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-create-api-keys.html) a documentation 404. Anyone who hits that page will see this:

<kb

[2020-05-14 14:09] #738 closed

[2020-05-14 14:10] nik9000 commented on #738
We removed xsltproc when we removed docbook late last year.

[2020-05-14 21:42] gtback commented on #909
We don't support the `--pdf` option anymore (as of #1394). As mentioned there, if we support it in the future we'll be rewriting it anyway.

[2020-05-14 21:42] #909 closed

[2020-05-14 21:43] gtback commented on #152
As of #1394, PDF export is no longer supported.

[2020-05-14 21:43] #152 closed

[2020-05-14 21:46] gtback commented on #61
PDF docs were supported for a while, but were removed in #1394. We can use this issue to track adding them back, when/if we decide to do so.

[2020-05-14 22:32] gtback commented on #918
I'd argue no. We don't seem to do anything too fancy with Docker, and (though I know this has happened in the past) I haven't heard of any issues related to old/incompatible versions of Docker. Of course, if that happens, someone can always open an issue.

[2020-05-14 22:32] #918 closed

[2020-05-14 22:40] gtback commented on #650
@zuketo What do you think?

[2020-05-15 11:17] alaudazzi opened #1842 "Add Expand All/Collapse All to TOC"
While navigating through the TOC, when you expand one section you collapse the others. It would be useful to add an "Add Expand All/Collapse All" option.

[2020-05-15 16:05] gtback commented on #1779
Looking closer, I think this might actually be a duplicate of #1480, so I'm going to close this one and we can continue the discussion there.

[2020-05-15 16:05] #1779 closed

[2020-05-15 16:07] gtback commented on #1480
[From](https://github.com/elastic/docs/issues/1779#issue-585094395) @rwaight:

[2020-05-15 16:08] gtback commented on #1480
[From](https://github.com/elastic/docs/issues/1779#issue-585094395) @lcawl:

[2020-05-15 16:09] gtback commented on #1480
[An earlier comment](https://github.com/elastic/docs/issues/1779#issuecomment-621450029) from me:

[2020-05-15 16:15] gtback commented on #1480
I agree with @debadair's suggestion above, having 3 sections:
- Have the current version at the top, in the same section as any other currently-released-and-supported versions. (maybe call this "stable"?)
- Have this followed by a section with the "in development" versions: `master`, `7.8`, and `7.x` as of the time of this comment. ("upcoming" or "future" or "unreleased"?)
- Finally, a way to sele

[2020-05-15 16:40] gtback commented on #1130
Marking this as blocked, since we'll just include it when we do the re-design.

[2020-05-15 17:47] gtback commented on #1765
@szabosteve I was able to get this to work by adding the `stem` attribute at the top the README.asciidoc (so for your case, you could put it in index.asciidoc in whichever book you're working on).

[code]

and then adding this to the body:

[code]

For a centered block you can use:

[code]

All of this does rely on the docs being able to load external JavaScript (I think from mathjax.org).

Let me

[2020-05-15 18:16] lcawl commented on #1480
I think that sounds like a reasonable solution.  I wouldn't call the current release "stable" though, since that "current" URL is always moving (which is part of the reason it gets so many link breakages).  I don't feel strongly for or against any of the other group names, though.

[2020-05-15 18:50] gtback commented on #1480
By "stable" I meant versions of the software being documented (including the current stable version), not that the documentation itself was stable 😦 . But I understand the potential confusion and will try to think of a better word.

[2020-05-19 17:43] debadair commented on #1345
I know it's a big undertaking, but every minor release underscores how important fixing our doc search is. We're nearly a week out from 7.7, and the 7.7 docs are not fully indexed. It's a really poor user experience if folks are excited about a big release, and search and can't find the new stuff in the docs. We do all this work to promote releases, and then when we get a "live one", we basically

[2020-05-19 20:53] nrichers opened #1846 "Add elastic/docs are a resource to all books"
This request came out of my work on https://github.com/elastic/docs/pull/1815 where I added some single-sourced content and cloud icons anyone can use. Things generally work, but require you to include files from the shared/ path manually or to add the elastic/docs repo as a resource. The "anyone can use" part could be improved if every book simply got the elastic/docs repo by default, specificall

[2020-05-19 21:18] debadair opened #1847 "Create a secondary sitemap for our site search that includes all live versions"
Today, the [docs sitemap](https://github.com/elastic/built-docs/blob/master/html/sitemap.xml) only includes the current version. IIRC, this was deliberate to encourage Google to weight the current version over old versions.

In our own site search, we want to be able to surface other versions, and only having current in the sitemap complicates that for the current crawler-based implementation.

If

[2020-05-20 10:31] szabosteve commented on #1765
@gtback

Thank you for your help! I added the `stem` attribute to the index.asciidoc file, and it seems it did the magic and now the formulae are rendered correctly.

Thanks again for looking into it!

[2020-05-20 10:31] #1765 closed

[2020-05-20 19:35] gtback commented on #1765
Happy to help @szabosteve !

[2020-05-21 17:01] lcawl opened #1849 "Support for Asciidoctor diagrams"
@geekpete first drew my attention to https://asciidoctor.org/docs/asciidoctor-diagram/

I've played with it recently in some Asciidoctor-only landing page prototypes, however, and think it's quite useful to have diagrams (particularly for workflows) that can be easily updated within the body of our docs.

The examples I played with used the "ditaa" style (http://ditaa.sourceforge.net/).

Can this

[2020-05-21 17:28] gtback opened #1850 "Support mapping branch names to different versions"
Currently, there's an assumption that every branch that gets built is the same as the version number we want to show in the built documentation. We'd like to break that dependency.

Introduce a `branch_version_mapping` key in each book in conf.yaml, and add support to the Perl script to look at this key. For example:

[code]

If this isn't included, then we'll default back to the current behavior

[2020-05-28 22:59] stacey-gammon commented on #1379
Trying to build docs for the first time in awhile and hitting this too.

[code]

Any ideas?

[2020-05-28 23:06] bmorelli25 commented on #1379
I'm not able to reproduce this, sorry. Everything works as expected on my end.

@gtback may have some ideas.

[2020-05-29 02:00] stacey-gammon commented on #1379
Do I really need docker installed to build docs?

[code]

[2020-05-29 02:13] stacey-gammon commented on #1379
Looks like that was it.

[2020-05-29 02:13] #1379 closed

[2020-05-29 14:12] gtback commented on #1379
Glad you figured it out, @stacey-gammon. I realized the error message you're seeing isn't very intuitive at all (especially on Python 2), so I made #1856 to hopefully keep others from running into the same problem.

[2020-06-08 17:43] gtback commented on #1836
@eddieturizo I'll keep this in mind as we go through the current website re-design, but I've found that using a browser extension like [Dark Reader](https://darkreader.org/) seems to provide pretty good functionality.

[2020-06-08 18:21] eddieturizo commented on #1836
I have used Dark Reader as well. The problem I found with a non-native solution like Dark Reader is that it makes our code snippets appear washed out in the darkness. That makes the user experience less than ideal in my opinion.

[2020-06-15 13:47] AlexSwensen commented on #1836
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

Using this with css/scss variables/mixins seems promising to support the user preferred layout. You can use a javascript toggle as a fallback control as well.

[2020-06-16 18:35] dedemorton opened #1871 "Text for footnotes in tables should appear immediately after the table"
Typically when you add a footnote to an item in a table, you want users to be able to read the footnote easily (similar to how callouts work for code). Right now, the footnote appears at the bottom of the page, which forces the user to jump down to see the description.

[2020-06-18 21:22] dedemorton commented on #260
Update on the tabbed panels in the Beats documentation:

For now, we are maintaining the tabbed panel code manually and injecting it into the HTML files. I just merged a PR that introduces the widgets here: https://github.com/elastic/beats/pull/17007. They are going into the 7.9 release.

It would be great at some point to be able to generate these widgets.

[2020-06-25 00:32] lcawl opened #1876 "Indentation issues in description lists with tagged regions"
I think there is a bug in the indentations within [description lists](https://asciidoctor.org/docs/user-manual/#description-list). For example, while playing with the Glossary in https://github.com/elastic/stack-docs/pull/1214, I noticed this:

![image](https://user-images.githubusercontent.com/26471269/85639809-bfc7ee80-b63e-11ea-81fd-492378a096c5.png)

Notice that the description of the first it

[2020-06-30 13:03] jrodewig opened #1884 "Validate URLs in ES JSON spec"
### Problem
Elasticsearch engineers are required to create a JSON spec for any new ES REST APIs (e.g., https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/get.json)

This spec requires a `documentation.url` property, which links to an ES docs page.

However, engineers often create and merge the spec before creating the docs page. This means
the l

[2020-06-30 13:43] gtback commented on #1884
Just so I understand this completely, we just need to grab all the `documentation.url` fields out of all the JSON files in the `rest-api-spec/src/main/resources/rest-api-spec/api/` directory, and verify that they all point to existing documentation pages?

Is this on all (active) branches, or just master?

Does it need to do anything if there's not a `documentation.url` property?

[2020-06-30 13:47] jrodewig commented on #1884
Yep. That's correct.

I would do this on all active branches. Merging to master and backporting to 7.x is a common pattern for new development in ES.

No. That should be fine. The primary concern is broken links.

[2020-06-30 14:25] delvedor commented on #1884
@mark-vieira and @jakelandis did some work (https://github.com/elastic/elasticsearch/pull/55117) for validating the json spec, so they might have some suggestions about how to solve this issue :)

[2020-06-30 15:59] gtback commented on #1884
Thanks @delvedor .

On the Elasticsearch side, all that's really needed (I think) is code to extract all the links (and maybe a hint about what line/file they're found in, to make it easier to track down any broken ones). The code to validate the links would probably best be this repo (we already do something similar for cross-book links and documentation links in the Kibana interface).

I've been

[2020-07-02 01:14] dedemorton commented on #260
We are considering our "widget" code (seen [here](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-installation-configuration.html#installation)) to be experimental until we figure out the next steps. We need to get some of this figured out before propagating these widgets to more pages:

-  Get design/developer resources to improve the javascript and css code. Right now, the tabbed

[2020-07-02 04:58] dedemorton commented on #1820
After spending a several hours today updating links throughout all the docs, I had a thought about how we can approach linking with the tools and processes that we have now. My solution isn't ideal. Our tools should really maintain the link and link text for us. But having to manually go through a dozen repos to update links (even for a handful of topics) is a major PITA.

What if we create one or

[2020-07-02 14:25] gtback commented on #1816
I just ran across [this extension](https://puravida-asciidoctor.gitlab.io/asciidoctor-extensions/#_each_file) which might be more complex than necessary, but would likely do what we need.

[2020-07-02 14:28] gtback commented on #260
I don't want to put a lot of time into this if it will be changing with the new UI, but there are some things we can do now which would be re-usable.

@Adrian-J do we have any existing patterns for this type of thing on the website? Would something like the **Tabbed View** on the [new design](https://marvelapp.com/e7g5fch/screen/69872623) work for this?

That should cover the CSS for now. For the

[2020-07-02 14:32] gtback commented on #1820
@dedemorton 💯 for this approach for any links that are used more than 2 or 3 times in a book. It's obviously not a complete solution, but hopefully reduces some of the pain.

If you're trying to link to the same version, could you just throw a `{branch}` in the URL?

[2020-07-02 14:51] lcawl commented on #1820
Hi DeDe,

I think this is definitely worth considering. One thing it makes me ponder is whether this would help with internal/external link issues.  For example, I encounter pages that contain internal cross-references (<<my-link>>) which don’t work when the page is re-used in another context (because it doesn’t contain that other linked page. Should we consider using external links at all times o

[2020-07-02 16:15] AnneB-SEO commented on #1820
Hi @jrodewig - missed this post from a few months ago - so sorry. Great summary! Adding a couple notes.

Yes and no. A server-side redirect is always preferred yet only a 301. 302's still can be a bit problematic to search engines and are really for temporary redirects, such as a login URL that performs language detection before assigning a destination URL.

Finally an explanation of how docs gene

[2020-07-02 18:11] dedemorton commented on #1820
@gtback RE your comment:

The {metricbeat-ref} attribute would take care of resolving the correct branch. I'm thinking more about the situation where we change the HTML filename (maybe to improve SEO) but the change only applies to a specific version and later. The lack of branches in the `docs` repo makes it hard to version attributes that might change over time. The way we handle versions of sha

[2020-07-02 18:56] gtback commented on #1820
@AnneB-SEO @jrodewig

:100: for this. I'm looking forward to hosting the docs ourselves, and a big part is exactly for that reason.

[2020-07-02 18:57] gtback commented on #1820
@dedemorton That makes sense, thanks. I'll have to think more about it. @benskelker was asking me a similar question this morning.

[2020-07-02 21:25] gchaps commented on #260
++ to having to having this "widget".  We would also like to use it for the Install docs in the Kibana documentation.

[2020-07-03 12:33] Adrian-J commented on #260
@gtback Yes, the Tabbed View component would be perfect here.

[2020-07-13 20:56] gchaps opened #1892 "Allow custom docs landing page"
Instead of having a docs landing page with a [long link farm](https://www.elastic.co/guide/en/kibana/current/index.html)&mdash;which is difficult to scan,&mdash;we'd like create a custom landing page similar to the image below.  It would be nice if we could also add images to the landing page.

See this draft PR:
[https://github.com/elastic/kibana/pull/71537](https://github.com/elastic/kibana/pull

[2020-07-14 19:51] gtback commented on #1284
I don't think this is something we'll do before the re-design.

I'd be interested in suggestions on how to annotate this in the Asciidoc so that this information can be automatically determined. Unless we just want to automatically (maybe via a per-book configuration section) make the first level TOC entries "categories".

[2020-07-14 20:33] gtback opened #1895 "Add CSS and Styles from linked-tabs widget"
The CSS and JavaScript in [this file](https://github.com/elastic/beats/blob/master/libbeat/docs/tab-widgets/code.asciidoc) is copied and included directly on several pages in the beats repo.

Add these to our global styles and scripts to reduce bloated HTML pages, ensure de-duplication, and allow this widget to
be re-used in other books.

[2020-07-14 20:35] gtback opened #1896 "Create linked-tabs widget Asciidoctor directive"
elastic/beats#17007 added lots of custom pass-through HTML to support linked tab widgets.

Add an Asciidoctor extension/directive to make it easier to create these on a page.

Depends on #1895

[2020-07-14 20:37] gtback commented on #1896
This is really a duplicate of #260

[2020-07-14 20:38] #1896 closed

[2020-07-14 20:52] gtback opened #1897 "Allow overriding default title page (index.html) for a book"
You can use a file with `-extra-title-page.html` to add custom content to the default title page for a book, but in some cases (including with the upcoming re-design), we'll want to completely replace that content.

Ref: elastic/kibana#71537

cc: @gchaps

[2020-07-14 20:54] gtback commented on #1897
Wow, I completely forgot there was already an issue for this (#1892).

[2020-07-14 20:54] #1897 closed

[2020-07-14 22:27] gtback opened #1899 "Correctly compare versions > x.9"
There is [at least one place](https://github.com/elastic/docs/blob/6fbf45c2b1bc3c8ba3e652848541c9bbb3b8745f/lib/ES/Book.pm#L423) that we compare versions/branches as strings. This will do the wrong thing when we start building 7.10, since `7.9 > 7.10` and `"7.9" > "7.10"` in Perl.

Also, look for other places that might be doing this.

[2020-07-16 15:53] benskelker opened #1905 "7.9 Provide custom banner text for the SIEM and Security docs"
To try and help users know which docs they need, let's add some info the preliminary and previous doc releases.

On 7.9 Security doc pages, add this banner:

The SIEM app is now a part of the Elastic Security solution. [Click here](https://www.elastic.co/guide/en/siem/guide/7.8/index.html) to view SIEM documentation for previous releases.

For 7.8 and below SIEM doc pages, add this banner:

The SI

[2020-07-22 03:51] Leaf-Lin commented on #1345
Also related, how do we prevent showing up 404 pages?
For example, this search `license + Elastic cloud` gives the following results, yet when user click on the first hit <https://www.elastic.co/guide/en/cloud/current/ec-faq.html>, they get 404:
<img width="1172" alt="Screen Shot 2020-07-22 at 1 50 12 pm" src="https://user-images.githubusercontent.com/39002973/88132234-5083f100-cc22-11ea-98c0-3405

[2020-07-23 12:47] gtback commented on #1345
Thanks, @Leaf-Lin . Our general approach to avoiding 404's is to ensure we set up redirects. In this case, it looks like the Cloud FAQ may have been split into several pages:
- https://www.elastic.co/guide/en/cloud/current/ec-faq-getting-started.html
- https://www.elastic.co/guide/en/cloud/current/ec-faq-billing.html
- https://www.elastic.co/guide/en/cloud/current/ec-faq-technical.html

I'm not su

[2020-07-27 14:16] gtback opened #1916 "Verify that books are correctly rebuilt when attribute files change"
When #1888 and #1887 were merged, the resulting [build](https://elasticsearch-ci.elastic.co/job/elastic+docs+master+build/2999/console) didn't rebuild all the correct books. It seems like the actual changes in https://github.com/elastic/built-docs/commit/4860e71b2fd1fd7384129b895d355ab4c9237f68 were because of [this contemporaneous change](https://github.com/elastic/elasticsearch/commit/f3323b9e55

[2020-07-27 15:25] gtback opened #1917 "Add paths to Kibana docs"
This was originally done in #1904 but reverted in 415efb1fc0fe5c9ce75242fc86b518132df31560. See if we can reproduce the issue and get this merged in.

[2020-07-27 20:28] stacey-gammon commented on #1917
Blocking https://github.com/elastic/kibana/pull/72292

[2020-07-27 21:25] gtback commented on #220
This popped up again today in some old branches. I'll prioritize getting this fixed, at least for live branches.

[2020-07-28 20:34] jakelandis opened #1925 "Elasticsearch moving java-api files requires temporary files left behind"
To allow the ES docs build to continue to function  [temporary file](https://github.com/elastic/elasticsearch/blob/7.x/server/src/test/java/org/elasticsearch/client/documentation/placeholder.txt) are needed to pacify the docs build. I think there is some logic in the build scripts merge that don't allow moving these directories.

I have a corresponding issue at https://github.com/elastic/elasticse

[2020-07-28 20:49] gtback commented on #1917
Since elastic/kibana#72292 is now passing the docs build, and I haven't the [Kibana PR Docs builds](https://elasticsearch-ci.elastic.co/job/elastic+kibana+pull-request+build-docs/) all seem to be passing recently (when they were failing before), I'm going to close this issue. I'll reopen if there's more weirdness.

[2020-07-28 20:49] #1917 closed

[2020-07-29 11:45] gtback commented on #1850
This can be closed now that #1918 is merged! 🎉

[2020-07-29 11:45] #1850 closed

[2020-07-30 16:23] gtback opened #1928 "Change branch name to version name in more places"
There are some other places where we're still using the "branch name" when we should use the "version name" (for the small fraction of versions which don't match the branch name):

- [x] HTML `<title>` tag.
- [x] HTML `<link rel="home" ...` tag
- [x] HTML `<meta name="DC.type"` tag
- [x] HTML `<meta name="DC.identifier"` tag
- [x] Breadcrumbs links within page.

Also validate that you can choose t

[2020-08-03 13:14] gtback commented on #1884
This would have prevented elastic/elasticsearch#60582

[2020-08-03 14:12] gtback commented on #1928
After merging #1929 and testing it on #1921, I confirmed there are no more mentions of the branch name (release-ms-41) in the HTML output for ECE 2.6 (or current), so this is good to close. I did find one other small problem, but I'll track that in a different issue.

[2020-08-03 14:12] #1928 closed

[2020-08-03 14:17] gtback opened #1930 "Title TOC Entry and version dropdown do not appear in some cases"
To reproduce:
- Find a "current" version where the branch name and version name do not match. (For example ECE 2.6, which comes from the release-ms-41 branch).
- Note that the page `/guide/en/cloud-enterprise/current/index.html` contains a "Elastic Cloud Enterprise - Elastic Cloud on your Infrastructure" TOC entry, and a dropdown for other versions, but `/guide/en/cloud-enterprise/2.6/index.html`

[2020-08-06 09:54] philkra commented on #1114
@Adrian-J and @gtback based on our chat yesterday, I compiled a document with items for the landing page: https://docs.google.com/document/d/1nIuy8KAhaVZ1dXFzOOjJ_DQZNZrng3Rp68zBt9V5B4o/edit#
/cc @Mpdreamz @sethpayne

[2020-08-07 08:47] hackery commented on #728
In particular, there are places in the documentation where contributors have used "new" syntax, which renders incorrectly with compat-mode on.

e.g. Logstash [Field References Deep Dive](https://www.elastic.co/guide/en/logstash/master/field-references-deepdive.html#_canonical_representations_of_composite_field_references) shows references like `+[[deep][nesting]][field]+` but the enclosing `+` sig

[2020-08-11 18:19] gtback commented on #728
Thanks, @hackery. That's a good datapoint.

[2020-08-13 21:09] gtback opened #1937 "Move (don't copy) to "current" when there's only one version"
For books where we only have (and only plan to have) one version, it makes sense to just have the pages available under "current" rather than also under the specific branch/version in the URL. The later pages aren't available in any version dropdowns (there aren't any version dropdowns when there's only one), so you can only get to the pages by knowing the branch name. Not only does this create ne

[2020-08-14 15:09] gtback commented on #1892
This should be working now, so I'll close this, but we can re-open if needed.

[2020-08-14 15:09] #1892 closed

[2020-08-23 17:47] benskelker commented on #1905
@gtback - I think I resolved this locally, in the stack-docs and security-docs repos:

- stack-docs PR: https://github.com/elastic/stack-docs/pull/1344
- security-docs PR: https://github.com/elastic/security-docs/pull/197

I'd appreciate if you can check everything is OK.

Thanks

[2020-08-24 15:55] gtback commented on #1905
For the `stack-docs` PR, it seems like all versions prior to 7.8 have the default "see the current release documentation" message that points to 7.8, and then 7.8 has the custom header to point to the new Security Guide. I think this is fine, even though it's one extra click (compared to directly going from 7.2 to 7.9) for people looking at old versions of the docs. It's not worth backporting to a

[2020-08-24 15:55] #1905 closed

[2020-08-25 15:00] bmorelli25 commented on #1212
Unasigning myself as we've closed #1894.

[2020-08-25 15:01] bmorelli25 commented on #1212
Agh, sorry. Zube bot is awful.

[2020-08-25 20:33] gtback commented on #1899
I confirmed this was the only place that was doing this, and fixed it in #1949. I'm going to close this, but if anything strange happens around the time of 7.10 feature freeze, I'll investigate.

[2020-08-25 20:33] #1899 closed

[2020-09-17 02:25] dedemorton opened #1959 "Recommended way of setting title abbreviations does not work."
The [docs readme](https://github.com/elastic/docs/blob/master/README.asciidoc#toc-titles) shows 2 ways to set a title abbreviation. The first way is recommended, but doesn't work. The passthru block does work, so I'll continue to use it. If we don't plan to support the first way, the readme needs to be updated.

![image](https://user-images.githubusercontent.com/14206422/93412383-eb2f3380-f851-11e

[2020-09-17 20:34] gtback commented on #1959
I started looking into the history of this. It looks like it was originally added in #1524 and later modified (possibly breaking it) in #1539.

I definitely prefer the section attribute approach if we can get it to work, but realistically we won't be removing support for the other way, either.

[2020-09-23 13:40] gtback commented on #1884
There was another case of builds failing which would have been caught earlier by this.

[2020-09-23 18:46] gtback opened #1966 "Move Edit links out of headings"
Right now the edit links are located within the heading (for example `<h1>`) elements. Besides being semantically incorrect, this leads to to "Edit" occasionally being considered part of the heading.

[2020-10-08 05:34] TomonoriSoejima opened #1978 "dead letter queue handling doc improvement"
A user found this link https://lukewaite.ca/posts/2017/10/13/viewing-logstash-dlq-in-kibana.html which discusses how to deal with dead letter queue handing and our doc https://www.elastic.co/guide/en/logstash/7.9/dead-letter-queues.html#dlq-example may benefit if similarly detailed example was created.

[2020-10-08 13:46] gtback commented on #1978
Thanks, @TomonoriSoejima .

We try to use this repo for issues about the documentation build system itself. Since this seems to be an issue with the logstash docs, I'll move this issue there.

[2020-10-15 14:45] sylvie777 opened #2057 "Snippets in docs don't use fixed width font on mobile"
(Transferred from https://github.com/elastic/website-www.elastic.co/issues/3280)

Provide the following information to help us identify and troubleshoot the issue.
- Page URL: https://www.elastic.co/guide/en/elasticsearch/reference/6.x/sql-getting-started.html
- Device type: Pixel 3
- Specifics (e.g., OS, Hardware, Browser, etc.): Chrome

If you have a screenshot, add it below.
![screenshot_201811

[2020-10-16 20:48] Gunnerva opened #1982 "Feature Request: Document all possible Elasticsearch logging options"
Customer has requested that we create documentation that documents the available loggers and their uses.

Examples:
logger.org.elasticsearch.common.NodeConnectionsService -- Supports: Info, Debug, Trace -- Purpose:  Useful for debugging if a node is having issues connecting to other nodes.

logger.org.elasticsearch.xpack.security.authc -- Supports: Info, Debug, Trace -- Purpose: Useful for trouble

[2020-10-20 19:16] KOTungseth opened #1986 "Support for customizable tables"
When we create tables, we should be able to customize the following:

- **Add images**

<img width="216" alt="Table with images" src="https://user-images.githubusercontent.com/38990715/96632889-002e3500-12de-11eb-9c03-d8ec81e4f02f.png">

- **Specify the sizes of columns and rows**

For example, instead of automatically wrapping the text in the first column, we should be able to specify the width o

[2020-10-20 19:18] #1986 closed

[2020-10-25 22:47] DanRoscigno opened #1988 "Reorganize the documentation guide page with solutions up top"
I think that having the solutions up top would be better for customers.  By moving the solution guides to the top the customers will find the new content first.  https://www.elastic.co/guide/index.html

Suggestion (just top level headings shown):

Observability: APM, Logs, Metrics, and Uptime

Elastic Security

Enterprise Search

Cloud: Provision, Manage and Monitor the Elastic Stack

Elastic Stac

[2020-10-27 18:40] ebeahan commented on #1754
I'm also seeing this tooltip issue when experimenting with using the [`beta:[]` admonition](https://github.com/mitre/advmlthreatmatrix) inside a table:

<img width="779" alt="Screen Shot 2020-10-27 at 1 36 30 PM" src="https://user-images.githubusercontent.com/7226265/97346651-b1424b80-1859-11eb-8969-a72cc0c911df.png">

[2020-11-05 19:26] gtback commented on #1988
Thanks for the suggestion, @DanRoscigno. I know there are some efforts around re-architecting a lot of the content, but on the other hand, moving things around on the page might make it harder for people who are used to where they are now.

I'm curious what the rest of the @elastic/docs writers think.

[2020-11-05 20:44] dedemorton commented on #1988
IMO the page is not currently organized in any logical order right now, so I would not expect users to rely on the structure. They'll search and find what they need.

I agree with @DanRoscigno that putting the observability info at the top of the page is the right thing to do if we want to place focus on our solutions.

I might be a bit biased, though, so let's hear from the rest of the team!

[2020-11-06 15:22] gtback commented on #1988
I haven't run the stats, but I'm curious how much of our traffic actually comes through this page vs. people having pages bookmarked or coming in from search results. **I** look at the home page a lot, but my role almost certainly makes me an exception.

[2020-11-06 20:12] dedemorton commented on #1988
I looked at google analytics, and it looks like /guide/ gets quite a lot of traffic. I think people use it for navigation because it's hard to move between related books right now.

[2020-11-11 16:59] gtback opened #2001 "Don't run Docker containers as Root user"
Currently all of the Docker containers run as the root user, and any attempts to run them as a different user with the `--user` argument lead to permissions errors.  This causes problems in environments that don't allow containers to run as root as a security measure.

Update Dockerfiles to create and use a non-root user.

[2020-11-17 17:12] kilfoyle opened #2006 "For specific repos, redirect edit button links to target master"
Thanks to Greg, we've recently introduced the `edit` button in the Cloud docs. The Cloud docs are a bit of a special case both because the repos are private and because we don't build the master branches. Since all doc updates should go into the master branch first, this means that all PRs opened via the edit button need to be rebased. This is proving to be pretty inefficient. It would be a wonder

[2020-11-17 18:06] gtback opened #2007 "Links in "pre-release" page headers don't go to specific page"
Page header with link to current documentation, by default, goes to the **home page** of the book.

![image](https://user-images.githubusercontent.com/1045796/99428695-fac00c80-28d4-11eb-9ea0-ce7d896371e2.png)

However, there is [some JS code](https://github.com/elastic/docs/blob/41f693be28b1b1ad16d7a69a0117c4651701a1b1/resources/web/docs_js/index.js#L213) that rewrites this link to go to the **sa

[2020-11-23 18:59] gtback commented on #1966
The approach in #1967 didn't seem to work. The HTML is too inconsistent to find (or at least too inconsistent for me to find) a general CSS solution to make the header spacing look good everywhere.

[2020-12-02 16:27] 111andre111 opened #2015 "index_pattern with * in the templates matching all indices:"
As of today the index_pattern setting if used `*` matches all indices and the system indices as well. I think this should be at least mentioned here in the documentation
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/indices-templates-v1.html#put-index-template-v1-api-request-body

until we have composable templates
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index-t

[2021-01-11 16:04] william0901 commented on #61
PDF is still needed for a lot of people. Will be great to have it. Thanks.

[2021-01-11 21:30] debadair commented on #61
I think we need to be specific about what the requirements are for these PDFs and how we intend them to be used/distributed. My assumptions are:

- The PDFs are primarily intended for situations like government RFPs where it is necessary to attach documentation in PDF format.
- The Docker bundle is our preferred solution for customers who need access to the docs on an air-gapped network.
- The PDF

[2021-01-14 12:04] henningandersen opened #2039 "Building ES docs against git worktree fails"
Using git worktree for different branches of ES is common. Running the docs build in a worktree (or perhaps just a folder not called elasticsearch) does not seem to work.

My setup is that I have a GIT_HOME with:
[code]

I can successfully run the docs build from the master git directory. But if I run it from any of my worktrees it fails:

[code]

I can workaround this by checking out the branch i

[2021-01-14 19:55] gtback commented on #2039
Thanks, @henningandersen!

I think this is the important factor.

As I understand it, #860 allowed `$GIT_HOME/elasticsearch/` to be a worktree, but there's a lot of code (and references within AsciiDoc files) that still depends on it being named exactly `elasticsearch`. If you made the "main working tree" at `elasticsearch-master` and then a "linked working tree" with 7.x at `elasticsearch`, it sh

[2021-01-15 21:36] gtback commented on #1805
I figured out why this was broken (at least for elastic/kibana#63295):

The only links that are checked are those that are located in the root Doc Links file (which has moved and been renamed between versions of Kibana)

If you do something like this in a different file, and then build URLs in those files, those URLs won't be checked.

[code]

This is what @lcawl is trying to fix in elastic/kibana

[2021-01-15 21:37] gtback commented on #1805
I'm tempted to close this, because I don't think looking through all of the Kibana code for links is feasible, but I'd like to track down why elastic/kibana#87721 *wasn't* failing as well.

[2021-01-27 14:01] jrodewig opened #2046 "Remove "current" link for legacy documentation"
Our legacy documentation, such as the [Shield docs](https://www.elastic.co/guide/en/shield/current/index.html), support a current version and link:

https://www.elastic.co/guide/en/shield/current/index.html

This can be misleading to users. Since this documentation and the associated products are no longer maintained, there is no "current" version. We should consider removing these links and redir

[2021-01-27 21:40] debadair commented on #2046
It's an unfortunate artifact of the current system--there's no way to *not* have a current version. With the move to the new system and a more topic-based approach, this shouldn't be as much of an issue--but if we preserve the idea of what's "current", we need to be able to have topics for which no "current" version exists.

[2021-02-03 12:10] redNixon opened #2052 "yarn.gpg has expired"
When building the ecs docs I am getting a failure due to this error that occurs when building the docs Dockerfile
[code]

This error is occurring because .docker/apt/keys/yarn.gpg expired today
[code]

A new key is [published here](https://dl.yarnpkg.com/debian/pubkey.gpg) and after manually replacing this repo's version of yarn.gpg with it "make docs" once again was able to build successfully.  _

[2021-02-03 23:57] gtback commented on #2052
I've honestly had the base layers of this image cached for so long that this hasn't impacted me, but thanks for reporting and making a PR @redNixon !

[2021-02-04 06:14] #2052 closed

[2021-02-04 06:15] redNixon commented on #2052
Closing since the new key has been committed

[2021-02-04 15:17] gtback commented on #2052
Thanks again @redNixon 🎉 . I didn't realize that this issue didn't get closed automatically.

[2021-02-10 14:55] sylvie777 opened #2056 "Eliminate flickering on page load"
When navigating from page to page in the Docs, there is a flicker from the page loading the content. Ideally, the flickering should be eliminated.

From @robin13:

https://drive.google.com/file/d/14PVqnVb3lP8eq0gtEhpy-qRpZaW3cQH4/view?usp=sharing

Original ticket: https://github.com/elastic/website-www.elastic.co/issues/4293

[2021-02-13 20:30] rmetzler opened #2063 "typo in documentation"
I'm sorry, I can't find the source file for the document I'm referring to and therefore I couldn't create a pull request to fix this documentation issue.

In the table at https://www.elastic.co/guide/en/app-search/current/documents.html#documents-post-and-patch there is a row **"JSON must be an array or hash"**

The documentation has a typo with the urlencoding for `[]`, which is `%5B%5D`. The doc

[2021-02-16 18:48] gtback commented on #2057
I can't reproduce this on Chrome on my Pixel 2. (though it redirects 6.x to 6.7, which should probably be 6.8, neither version of the page had this problem). My guess is that some styles from the main site were leaking into the docs, but that has since been fixed. If anyone still has this problem, please re-open.

[2021-02-16 18:48] #2057 closed

[2021-02-16 18:58] gtback commented on #2056
I'm no longer able to see the recording. The things that I see flicker when loading a docs page are:
- the Inter font used on the page causes text to get re-rendered after the font loads
- the "Most Popular" box gets reloaded (we put a static version on the page for clients with JS disabled, then reload with personalized content).
The first is likely more within our control than the latter. We cou

[2021-02-18 13:13] gtback commented on #2063
Hi @rmetzler, this has been updated. Thanks again for pointing it out!

[2021-02-18 13:13] #2063 closed

[2021-02-19 15:57] tylersmalley opened #2071 "Some elasticsearch-ci/docs CI job never report"
There have been a handful of CI jobs over the past couple of days that have failed to report their status. Here is a sample:

https://github.com/elastic/kibana/pull/91408
https://github.com/elastic/kibana/pull/91914

Since they are never reported or linked back to a job, I have been unable to find the logs in the job to see what happened.

Is this something that is known?

[2021-02-19 16:01] gtback commented on #2071
@tylersmalley I've seen it happen before, but not in the Kibana repo. In the past, I think it's happened in newer repos where Jenkins doesn't have permission to update the GitHub Check status. But that doesn't seem to be the case here. I'll look into the two you mention above.

[2021-02-19 16:14] gtback commented on #2071
It looks like those jobs are too old and may have been deleted. I'll start another one for the PR that's still open and see if I can tell anything.

[2021-02-19 16:19] gtback commented on #2071
It seems like the [build I just kicked off](https://elasticsearch-ci.elastic.co/view/Docs/job/elastic+kibana+pull-request+build-docs/3599/) reported its status correctly to the PR, and the "details" link contained the correct URL to the job. We might just have to wait until this happens again and I can dig in more.

[2021-02-19 16:19] gtback commented on #2071
cc: @elastic/infra-automation . Have you fine folks ever seen anything like this before?

[2021-02-23 08:24] stratoula commented on #2071
Hey guys this happens to all the PRs created by our collaborators and in order to unblock them, I run every time `@elasticmachine run elasticsearch-ci/docs` on their PRs. Moreover, it happens to the backport PRs too so I would really appreciate it if we could solve it 😄 🙏

[2021-02-23 14:16] gtback commented on #2071
@stratoula do you have a link to any PRs (or if you have them, the jobs themselves) so I can look into the logs and see what's going on?

[2021-02-23 14:20] stratoula commented on #2071
Yes so I have this one https://github.com/elastic/kibana/pull/91293

And these are some PRs that they had the problem and when I run the above command it was solved:
https://github.com/elastic/kibana/pull/92183
https://github.com/elastic/kibana/pull/92170
https://github.com/elastic/kibana/pull/91838